﻿
<div ng-include="'views/partials/searchBar.html'"></div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                <thead class="flip-content bordered-palegreen">

                <tr>
                    <th ng-repeat="title in aTitle" class="title[1]">
                        {{title[0]}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 	时间 用户	金额	账户余额	备注	类型	操作-->
                <tr ng-repeat="rowData in oData">
                    <td>{{rowData.createtime}}</td>
                    <td><a ng-href='#/userPage/{{rowData.username}}' target="{{!bDetail?'_blank':''}}">
                        {{rowData.username}}
                    </a></td>
                    <td class="numeric">
                        {{rowData.amount}}
                    </td>

                    <td class="numeric">{{rowData.afterAmount}}</td>
                    <td style="width: 30%">{{rowData.memo}}</td>
                    <td>{{rowData.orderId}}</td>
                    <td>{{rowData.type}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div >
    <div ng-include="'views/partials/pager.html'"></div>
</div>


