﻿
<div class="header-title">
    <h1 header-title>
    </h1>
</div>
<!--Header Buttons-->
<div class="header-buttons">
    <a href="" class="sidebar-toggler"></a>
    <!--a href="" class="refresh"></a-->
    <a href="" class="fullscreen"></a>
</div>
<!--Header Buttons End-->
