﻿<div ng-include="'views/partials/searchBar.html'"></div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                <thead class="flip-content bordered-palegreen">

                <tr>
                    <th ng-repeat="title in aTitle" class="title[1]">
                        {{title[0]}}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="rowData in oData track by $index">
                    <td>{{rowData.createtime}}<br>{{rowData.updatetime}}</td>
                    <td >{{rowData.issue}}</td>
                    <td>{{getGameType(rowData.lotterycode)}}</td>
                    <td ng-style=" statusColor[rowData.status] ">{{aStatus[rowData.status]}}</td>
                    <td id="bonusNumber-{{$index}}" >
                        <!--div ng-if="!bShowList[$index]"-->
                            {{rowData.bonusNumber}}
                        <!--/div-->
                         <!--div  ng-if="bShowList[$index]">
                             <select  ng-model="oSelect.value" ng-blur="save(rowData, $index)" >
                                 <option value ="M" ng-selected="rowData.bonusNumber == 'M' ">{{oi18n.M}}</option>
                                 <option value ="W" ng-selected="rowData.bonusNumber == 'W' ">{{oi18n.W}}</option>
                                 <option value="D" ng-selected="rowData.bonusNumber == 'D' ">{{oi18n.D}}</option>
                                 <option value="C"  ng-selected=" rowData.bonusNumber == 'C' ">{{oi18n.C}}</option>
                             </select>
                             {{oSelect.value}}
                         </div-->
                    </td>


                    <!--td>
                        <button id="update-bonusNumber-{{$index}}" ng-click="updateBonusNumber($index)" >
                        {{oi18n.modify}}</button>
                    </td-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div >
    <div ng-include="'views/partials/pager.html'"></div>
</div>