﻿<div class="navbar-inner">
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <a href="" class="navbar-brand">
               <small>
                    <!--img src="assets/img/logo.png" ng-if="!settings.rtl" alt="" />
                    <img src="assets/img/logo-rtl.png" ng-if="settings.rtl" alt="" /-->
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area and Settings --->

        <div class="dbName-area">
            {{dbNameOp.merchantName}}
        </div>
        <div class="navbar-header pull-right" ng-controller="NavbarCtrl">
            <div class="navbar-account">
                <ul class="account-area">

                    <li>
                        <a class=" dropdown-toggle" title="" href="#/app/pending">
                            <i class="icon fa fa-list-ol" ng-class="{'red':nWithdraw>99}"></i>
                            <!--span class="badge" ng-if="nWithdraw>0 && nWithdraw <100"><strong>{{nWithdraw}}</strong></span-->
                        </a>

                    </li>

                    <!--li>
                        <a chat-link class="wave in" title="Chat"></a>
                    </li-->
                    <li>
                        <a class="login-area dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar" title="View your public profile" style="border-left:none">
                                <img src="assets/img/avatars/admin.jpg">
                            </div>
                            <section>
                                <h2><span class="profile"><span>{{User.username}}</span></span></h2>
                            </section>
                        </a>
                        <!--Login Area Dropdown-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                            <li class="username" ><a>{{User.username}}</a></li>

                            <!--Avatar Area-->
                            <li>
                                <div class="avatar-area">
                                    <img src="assets/img/avatars/admin.jpg" class="avatar">
                                    <!--span class="caption">Change Photo</span-->
                                </div>
                            </li>
                            <!--Avatar Area-->
                            <!--li class="edit">
                                <a href="profile.html" class="pull-left">Profile</a>
                                <a href="#" class="pull-right">Setting</a>
                            </li-->
                            <li class="dropdown-footer">
                                <a ng-click="logout()">
                                    {{oi18n('Logout')}}
                                </a>
                            </li>
                        </ul>
                        <!--/Login Area Dropdown-->
                    </li>
                    <!-- /Account Area -->
                    <!--Note: notice that setting div must start right after account area list.
                    no space must be between these elements-->

                </ul>
            </div>
        </div>
        <!-- /Account Area and Settings -->
    </div>
</div>