<div ng-include="'views/partials/searchBar.html'"></div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                <thead class="flip-content bordered-palegreen">

                <tr>
                    <th ng-repeat="title in aTitle" class="title[1]">
                        {{title[0]}}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="rowData in oData">
                    <td>{{rowData.createtime}}<br>{{rowData.updatetime}}</td>
                    <td >
                        <a ng-href='#/app/history/{{rowData.issue}}'>{{rowData.issue}}</a>
                    </td>

                    <td><a ng-href='#/app/orderList/{{rowData.username}}'>{{rowData.username}}</a> </td>
                    <td>{{rowData.amount |number:2}}</td>
                    <td>{{rowData.number|number:2}}</td>
                    <td><a ng-href='#/app/business/{{rowData.username}}'>{{rowData.bonusAmount|number:2}}</a></td>
                    <td >
                    {{getGameType(rowData.lotterycode)}}
                    <!-- {{rowData.lotterycode}} -->
                    </td>

                    <!--<td style="width: 10%">-->
                        <!--{{rowData.playname}}-->
                    <!--</td>-->

                    <td >
                        {{rowData.orderNo}}
                        <button ng-click="cancelOrder($index)"
                                ng-if="authority.cancelOrder &&  ((rowData.status ==0)||(rowData.status ==1)||(rowData.status==2))">
                            {{oi18n.orderCancel}}</button>
                    </td>
                    <td>{{transStatus[rowData.status]}}</td>
                    <td>{{rowData.odds|number:2}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div >
    <div ng-include="'views/partials/pager.html'"></div>
</div>