<div ng-include="'views/partials/searchBar.html'" ></div>


<div ng-if="!treeData">
    <div class="row" >
        <div class="col-xs-12 col-md-12">
            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                   <thead class="flip-content bordered-palegreen">
                    <tr>
                        <!--
                        <th ng-repeat="title in aTitle" class="title[1]">
                            {{title[0]}}
                        </th>
                        -->
                        <th><div style="cursor:pointer" ng-click="requestFunc({'sortnum':4,'order':dRequest.order})"><a>{{oi18n.user}}</a></div></th>
                        <th><div style="cursor:pointer" ng-click="requestFunc({'sortnum':6,'order':dRequest.order})"><a>{{oi18n.betting}}</a></div></th>
                        <th><div style="cursor:pointer" ng-click="requestFunc({'sortnum':7,'order':dRequest.order})"><a>{{oi18n.effectBet}}</a></div></th>
                        <th><div style="cursor:pointer" ng-click="requestFunc({'sortnum':8,'order':dRequest.order})"><a>{{oi18n.bonus}}</a></div></th>
                        <th><div style="cursor:pointer">{{oi18n.profit}}</div></th>
                        <th><div>{{oi18n.deposit}}</div></th>
                        <th><div>{{oi18n.withdraw}}</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="background-color: lightcyan" ng-if="oUser.username.length">
                        <td ><a ng-href='#/app/userReport/{{oUser.username}}' >
                            {{oUser.username}}
                        </a></td>
                        <td>{{oUser.bet_amount| number:2}}</td>
                        <td>{{oUser.valid_amount| number:2}}</td>
                        <td>{{oUser.bonus| number:2}}</td>
                        <td>{{oUser.valid_amount - oUser.bonus| number:2}}</td>

                        <td>{{oUser.deposit| number:2}}</td>
                        <td>{{oUser.withdraw| number:2}}</td>
                    </tr>
                    <tr ng-repeat="rowData in oData track by $index">
                        <td ng-if="rowData.merchantName"><a ng-href='#/{{rowData.website}}'>
                            {{rowData.merchantName}}
                        </a></td>
                        <td ng-if="rowData.currency">
                            {{rowData.currency}}
                        </td>
                        <td ng-if="rowData.username">
                            {{rowData.username}}
                        </td>
                        <td><a ng-href='#/app/orderList/{{rowData.username}}'>
                            {{rowData.bet_amount| number:2}}
                        </a></td>
                        <td>{{rowData.valid_amount| number:2}}</td>

                        <td><a ng-href='#/app/business/{{rowData.username}}'>
                            {{rowData.bonus| number:2}}
                        </a></td>
                        <td>{{rowData.valid_amount - rowData.bonus |number:2}}</td>
                        <td><a ng-href="#/app/deposit/{{rowData.username}}">{{rowData.deposit| number:2}}</a></td>
                        <td><a ng-href="#/app/withdraw/{{rowData.username}}">{{rowData.withdraw| number:2}}</a></td>
                        <td ng-if="rowData.profit!=undefined">
                            {{rowData.profit| number:2}}
                        </td>

                        <!--td>{{rowData.rebate}}</td-->
                        <!--td>{{round(rowData.valid_amount - rowData.bonus -rowData.rebate)}}</td-->

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div>
        <div ng-include="'views/partials/pager.html'"></div>
    </div>
    <br><br>
</div>
<div simple-accordion ng-if="treeData">
    <ul class="accordion-lists">
        <li class="well accordion-li-lists"><!-- Root -->
            <a href="javascript:void(0);" class="node-header btn btn-azure" ng-model="rootNode1" ng-init="rootNode1=0" ng-click="rootNode1=changeNodeClassValue(rootNode1)">
				<i class="typcn node-icon" ng-class="(((rootNode1%2)===0) ? 'typcn-minus' : 'typcn-plus')"></i>
				{{treeData.name}}
			</a>
            <table ng-if="oData.length>0" class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                <thead class="flip-content bordered-palegreen">
                    <th ng-repeat="title in aTitle" class="title[1]">
                        {{title[0]}}
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="rowData in oData track by $index">
                        <td ng-if="rowData.merchantName"><a ng-href='#/{{rowData.website}}'>
                            {{rowData.merchantName}}
                        </a></td>
                        <td ng-if="rowData.currency">
                            {{rowData.currency}}
                        </td>
                        <td ng-if="rowData.username"><a ng-href='#/app/userReport/{{rowData.username}}'>
                            {{rowData.username}}
                        </a></td>
                        <td>{{rowData.bet_amount| number:2}}</td>
                        <td>{{rowData.valid_amount| number:2}}</td>
                        <td>{{rowData.bonus| number:2}}</td>
                        <td>{{rowData.deposit| number:2}}</td>
                        <td>{{rowData.withdraw| number:2}}</td>
                        <td >
                            {{rowData.valid_amount - rowData.bonus| number:2}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--/ Root -->
            <ul class="inner" ng-show="((rootNode1%2) === 0) ? true : false">
                <table style="display: none;"></table>
                <li ng-repeat="children in treeData.childArray" class="accordion">
                    <a href="javascript:void(0);"
						class="node-header btn btn-azure"
						ng-class="((children.hasOwnProperty('childArray')) ? '' : '')"
						ng-init="ChildrenNodeName=children.agentName;ChildrenNodeName=0"
						ng-model="ChildrenNodeName"
						ng-click="ChildrenNodeName=changeNodeClassValue(ChildrenNodeName)">
						<i ng-class="((!children.hasOwnProperty('childArray')) ? '' : ((ChildrenNodeName%2)===0) ? 'node-icon typcn typcn-minus' : 'node-icon typcn typcn-plus')"></i>
						<!--i ng-class="((children.childArray.length === 0) ? '' : children.childArray.length"></i-->
						{{children.agentName}}
					</a>

                    <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">

                        <thead ng-if="!children.data.length < 1" class="flip-content bordered-palegreen">
                            <th ng-repeat="title in aTitle" class="title[1]">
                                {{title[0]}}
                            </th>
                        </thead>
                        <thead ng-if="children.data.length < 1" class="flip-content bordered-palegreen">
                            <th>
                                No Website
                            </th>
                        </thead>

                        <tbody>
                            <tr ng-repeat="subchildren in children.data">
                                <td ng-if="subchildren.merchantName">
                                    {{subchildren.merchantName}}
                                </td>
                                <td ng-if="subchildren.currency">
                                    {{subchildren.currency}}
                                </td>
                                <td>{{subchildren.summary.bet_amount| number:2}}</td>
                                <td>{{subchildren.summary.valid_amount| number:2}}</td>
                                <td>{{subchildren.summary.bonus| number:2}}</td>
                                <td>{{subchildren.summary.deposit| number:2}}</td>
                                <td>{{subchildren.summary.withdraw| number:2}}</td>
                                <td >
                                    {{subchildren.summary.valid_amount - subchildren.summary.bonus| number:2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="inner" ng-show="((ChildrenNodeName%2) === 0) ? true : false">
                        <li ng-repeat="asubchildren in children.childArray">
                    		<a href="javascript:void(0);"
								class="node-header btn btn-azure"
								ng-class="((asubchildren.hasOwnProperty('childArray')) ? '' : '')"
								ng-init="ChildrenNodeName=asubchildren.agentName;ChildrenNodeName=0"
								ng-model="ChildrenNodeName"
								ng-click="ChildrenNodeName=changeNodeClassValue(ChildrenNodeName)">
								<i ng-class="((!asubchildren.hasOwnProperty('childArray')) ? '' : ((ChildrenNodeName%2)===0) ? 'node-icon typcn typcn-minus' : 'node-icon typcn typcn-plus')"></i>
								{{asubchildren.agentName}}
							</a>
                            <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">

                                <thead ng-if="!asubchildren.data.length < 1" class="flip-content bordered-palegreen">
                                    <th ng-repeat="title in aTitle" class="title[1]">
                                        {{title[0]}}
                                    </th>
                                </thead>
                                <thead ng-if="asubchildren.data.length < 1" class="flip-content bordered-palegreen">
                                    <th>
                                        No Website
                                    </th>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="bsubchildren in asubchildren.data">
                                        <td ng-if="bsubchildren.merchantName">
                                            {{bsubchildren.merchantName}}
                                        </td>
                                        <td ng-if="bsubchildren.currency">
                                            {{bsubchildren.currency}}
                                        </td>
                                        <td>{{bsubchildren.summary.bet_amount| number:2}}</td>
                                        <td>{{bsubchildren.summary.valid_amount| number:2}}</td>
                                        <td>{{bsubchildren.summary.bonus| number:2}}</td>
                                        <td>{{bsubchildren.summary.deposit| number:2}}</td>
                                        <td>{{bsubchildren.summary.withdraw| number:2}}</td>
                                        <td>
                                            {{bsubchildren.summary.valid_amount - bsubchildren.summary.bonus| number:2}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="inner" ng-show="((ChildrenNodeName%2) === 0) ? true : false">
                                <li ng-repeat="csubchildren in asubchildren.childArray">
                                    {{csubchildren.agentName}}
                                    <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">

                                        <thead ng-if="!csubchildren.data.length < 1" class="flip-content bordered-palegreen">
                                            <th ng-repeat="title in aTitle" class="title[1]">
                                                {{title[0]}}
                                            </th>
                                        </thead>

                                        <thead ng-if="csubchildren.data.length < 1" class="flip-content bordered-palegreen">
                                            <th>
                                                No Data
                                            </th>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="dsubchildren in csubchildren.data">
                                                <td ng-if="dsubchildren.currency">
                                                    {{dsubchildren.currency}}
                                                </td>
                                                <td ng-if="dsubchildren.merchantName">
                                                    {{dsubchildren.merchantName}}
                                                </td>
                                                <td>{{dsubchildren.summary.bet_amount| number:2}}</td>
                                                <td>{{dsubchildren.summary.valid_amount| number:2}}</td>
                                                <td>{{dsubchildren.summary.bonus| number:2}}</td>
                                                <td>{{dsubchildren.summary.deposit| number:2}}</td>
                                                <td>{{dsubchildren.summary.withdraw| number:2}}</td>
                                                <td>
                                                    {{dsubchildren.summary.valid_amount - dsubchildren.summary.bonus| number:2}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>



