<div class="alert alert-danger fade in alert-radius-bordered alert-shadowed" ng-if="bLoading">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    <i class="fa-fw fa fa-info"></i>
    <span ng-bind = "sLoadingInfo"></span>
</div>
<div ng-include="'views/partials/userDetailNav.html'" ng-if="bDetail"></div>
<form class="form-inline" role="form" ng-submit="dRequest.page =1;requestFunc();" ng-if="!bDetail" ng-controller="SearchbarCtrl">
    <input type="text" class="input-sm" placeholder="{{oi18n.orderNumber}}" style="width: 100px" ng-model="dRequest.orderNo"
           ng-if="oSearch.orderNo">
    <input type="text" class="input-sm" placeholder="{{oi18n.issue}}" style="width: 100px" ng-if="oSearch.issue"
           ng-model="dRequest.issue">

    <input type="text" class="input-sm" id="userName" placeholder="{{oi18n.User}}" ng-model="dRequest.userName" ng-if="!oSearch.hideUserName">

    <input type="text" class="input-sm" placeholder="{{oi18n.minAmount}}" style="width: 100px" ng-if="oSearch.startAmount"
           ng-model="dRequest.startAmount">
    <span ng-if="oSearch.startAmount">-</span>
    <input type="text" class="input-sm" placeholder="{{oi18n.maxAmount}}" style="width: 100px" ng-if="oSearch.startAmount"
           ng-model="dRequest.endAmount">

    <!--<input type="text" class="input-sm" placeholder="{{oi18n.lotteryType}}" style="width: 100px" ng-if="oSearch.lotteryCode" ng-model="dRequest.lotteryCode">
-->
    <!-- gameType:Start -->
    <!-- ng-init="oSearch.gameTypeArray = gameTypeArray[0]" -->
    <select class="btn-sm"
            ng-model="oSearch.gameTypeArray"
            ng-if="oSearch.isGameType"
            ng-options="item.label for item in gameTypeArray">
    </select>
    <!-- gameType:End -->

    <span ng-if="oSearch.startTime &&!oSearch.hideUserName">|</span>
    <input type="date" class="input-sm" style="width: 150px" ng-if="oSearch.startTime" ng-model="sStartTime"
           ng-change="setStartTime(sStartTime)">
    <span ng-if="oSearch.startTime">-</span>
    <input type="date" class="input-sm" style="width: 150px" ng-if="oSearch.startTime" ng-model="sEndTime"
           ng-change="setEndTime(sEndTime)">
    <span ng-if="oSearch.startTime">|</span>

    <select class="btn-sm" ng-model="dRequest.fs" ng-if="oSearch.fs">
        <!--fs专指pay name-->
        <option value="">{{oi18n.allChannels}}</option>
        <option ng-repeat="item in aFs" value="{{item.key}}">{{item.label}}</option>
    </select>
    <select class="btn-sm" ng-model="dRequest.status" ng-if="oSearch.status">
        <option value="">{{oi18n.allStatus}}</option>
        <option ng-repeat="item in aStatus" value="{{item.i}}" ng-selected="item.i == dRequest.status">{{item.label}}
        </option>
    </select>
    <!--select class="select-db"  ng-model="currentSymbol" ng-change ="selectSymbol(currentSymbol)"
            ng-if="oSearch.dSymbol">
        <option value="CNY" selected="selected">CNY</option>
        <option value="MMK" >MMK</option>
    </select-->
    <!--div class="checkbox">
        <label>
            <input type="checkbox">
            <span class="text">余额不为0</span>
        </label>
    </div-->
    <input type="text" class="input-sm" placeholder="{{oi18n.superiorUser}}" style="width: 100px" ng-model="dRequest.upusername"
           ng-if="oSearch.upusername">
    <input type="text" class="input-sm" placeholder="{{oi18n.loginIP}}" style="width: 120px" ng-model="dRequest.login_ip"
           ng-if="oSearch.login_ip">
    <input type="text" class="input-sm" placeholder="IP" style="width: 120px" ng-model="dRequest.ip" ng-if="oSearch.ip">
    <input type="text" class="input-sm" placeholder="{{oi18n.minBonus}}" style="width: 100px" ng-model="dRequest.bonAA"
           ng-if="oSearch.bonAA">
    <span ng-if="oSearch.bonAA">-</span>
    <input type="text" class="input-sm" placeholder="{{oi18n.maxBonus}}" style="width: 100px" ng-model="dRequest.bonAB"
           ng-if="oSearch.bonAA">

    <select class="btn-sm" ng-model="dRequest.aRbf" ng-if="oSearch.aRbf">
        <option value="volvo">{{oi18n.allRebate}}</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <select class="btn-sm" ng-model="dRequest.type" ng-if="oSearch.type">
        <option value="">{{oi18n.allType}}</option>
        <option ng-repeat="item in aType" value="{{item.i}}" ng-selected="item.i == dRequest.status">{{item.label}}
        </option>
    </select>
    <select class="btn-sm" ng-model="dRequest.orderBy" ng-if="oSearch.orderBy">
        <option value="0">{{oi18n.regTimeSort}}</option>
        <option value="1">{{oi18n.accountBalanceSort}}</option>
    </select>
    <!-- Search Button, ShowAll And Export -->
    <a ng-click="BacktoAllData()" ng-show="isShowAllButton" class="shiny btn btn-sm btn-active">
        <i class="typcn typcn-arrow-back" aria-hidden="true"></i>{{oi18n.txt("Show All")}}</a>

    <a ng-show="isExportButton" class="shiny btn btn-sm btn-active" ng-click="openModal('modal-message modal-info','InfoModal.html')">
        <i class="typcn typcn-arrow-loop-outline" aria-hidden="true"></i>{{oi18n.txt("Export")}}</a>

    <button type="submit" class="shiny btn btn-azure"  ng-if="!oSearch.hideBtn" ng-click="hitSearch()">
        <i class="fa fa-search" aria-hidden="true"></i>{{oi18n.txt("Search")}}  </button>

    <script type="text/ng-template" id="InfoModal.html">
        <div class="modal-header">
            <i class="glyphicon glyphicon-save"></i>
        </div>
        <div class="modal-title">{{oi18n.txt("Export")}} CSV</div>
        <div class="modal-body">{{oi18n.txt("Continue to download?")}}</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="confirm()">{{oi18n.txt("Continue")}} </button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">{{oi18n.txt("Cancel")}} </button>
        </div>
    </script>
    <script type="text/ng-template" id="DangerModal.html">
        <div class="modal-header">
            <i class="glyphicon glyphicon-fire"></i>
        </div>
        <div class="modal-title">{{oi18n.txt("Cannot Export!")}}</div>
        <div class="modal-body">
            <span class="danger" ng-bind-html="ExportDataMessage" style="text-align: left;">
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="ok()">Ok</button>
        </div>
    </script>
</form>
