﻿    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper sidebar-index" >
    <!--input type="text" class="searchinput" placeholder="查找会员"
           ng-model="userNameSearch"
           ui-keypress="{13:'search(userNameSearch, true)'}"/>
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">在这里输入会员名回车，会快速跳转到会员的页面</div-->


    <!--<select     ng-model="">-->
        <!--<option ng-repeat="dbNameOp in dbNameList" value="{{dbNameOp}}" ng-selected="dbNameList[0]">{{dbNameOp}}</option>-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[0]}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[1]}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[2]}}</option>&ndash;&gt;-->
    <!--</select>-->
    <div data-ng-init="initSide()">
        <select class="select-db" ng-model="dbSelect" ng-change ="selectDb(dbSelect)">
            <option ng-repeat="x in dbNameList"
                    ng-selected="x.merchantName == dbNameOp.merchantName "
                    value="{{x}}"
            >{{x.merchantName}}</option>
        </select>
    </div>
    <!--<select class="select-db" ng-controller="DashboardCtrl" ng-model="dbName-select"  >-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[0]}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[1]}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="" ng-selected="">{{dbNameList[2]}}</option>&ndash;&gt;-->
    <!--</select>-->

    <!--<select class="select-db" ng-model="dbName">-->

        <!--<option value="shgames" ng-selected="shgames">shgames</option>-->
        <!--<option value="testdb" ng-selected="testdb">testdb</option>-->
        <!--<option value="ckgames" ng-selected="ckgames">ckgames</option>-->
    <!--</select>-->
    <!--<div class="dbName-area">{{dbName}}</div>-->


</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu" ng-controller="SidebarCtrl">
    <!--Dashboard-->
    <!--首页-->
    <li  class="open">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text">{{oi18n('home')}}</span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard">
                    <i class="menu-icon glyphicon glyphicon-stats"></i>
                    <span class="menu-text"> {{oi18n('Statistics')}}</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.allReport">
                    <i class="menu-icon fa fa-diamond"></i>
                    <span class="menu-text"> {{oi18n('Daily Report')}} </span>
                    <!--span class="badge badge-blue" ng-if="nDeposit>0"><strong>{{nDeposit}}</strong></span-->
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.userReport">
                    <i class="menu-icon fa fa-yen"></i>
                    <span class="menu-text"> {{oi18n('User Daily')}} </span>
                    <!--span class="badge badge-danger " ><strong>	3</strong></span-->
                </a>
            </li>
            
            <li ui-sref-active="active" ng-if="authority.credit">
                <a ui-sref="app.credit">
                    <i class="glyphicon glyphicon-credit-card"></i>
                    <span class="menu-text"> {{oi18n('Credit')}} </span>
                </a>
            </li>

            <!--li ui-sref-active="active">
                <a ui-sref="app.agentReport">
                    <i class="menu-icon glyphicon  glyphicon-th-list"></i>
                    <span class="menu-text"> {{oi18n.agentDayKnot}} </span>
                </a>
            </li-->

        </ul>
    </li>

    <li ><!--会员管理-->
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text">{{oi18n("User Management")}}</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.user">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text">{{oi18n('User List')}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.admin">
                    <i class="menu-icon fa fa-user-secret "></i>
                    <span class="menu-text">{{oi18n('Admin List')}}</span>
                </a>
            </li>
            <!--li ui-sref-active="active">
                <a ui-sref="app.illegal">
                    <i class="menu-icon fa fa-warning "></i>
                    <span class="menu-text">非法请求</span>
                </a>
            </li-->
            <!--li ui-sref-active="active">
                <a ui-sref="app.loginLog">
                    <i class="menu-icon fa fa-location-arrow "></i>
                    <span class="menu-text">IP信息</span>
                </a>
            </li-->
        </ul>
    </li>

    <li><!--game 管理-->
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">{{oi18n('Betting Record')}}</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.pending">
                    <i class="menu-icon fa fa-list-ol"></i>
                    <span class="menu-text">{{oi18n('Pending Order')}}</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.orderWin">
                    <i class="menu-icon fa fa-thumbs-up"></i>
                    <span class="menu-text">{{oi18n('Winning Order')}}</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.orderList">
                    <i class="menu-icon fa fa-list-ol"></i>
                    <span class="menu-text">{{oi18n('Betting Record')}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.history">
                    <i class="menu-icon fa fa-gavel  "></i>
                    <span class="menu-text">{{oi18n('History')}}</span>
                </a>
            </li>

        </ul>
    </li>
    <!--充值管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-money "></i>
            <span class="menu-text">{{oi18n('Finance')}}</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.business">

                    <i class="menu-icon fa fa-yen"></i>
                    <span class="menu-text">{{oi18n('Account Details')}}</span>

                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.deposit">

                    <i class="menu-icon fa fa-download "></i>
                    <span class="menu-text">{{oi18n('Recharge')}}</span>

                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.withdraw">

                    <i class="menu-icon fa fa-upload"></i>
                    <span class="menu-text">{{oi18n('Withdrawals')}}</span>
                </a>
            </li>
            <!--li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-line-chart"></i>
                    <span class="menu-text">玩家账变</span>
                </a>
            </li-->
        </ul>
    <!--报表-->
    <!--li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-area-chart "></i>
            <span class="menu-text">月报表</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-money"></i>
                    <span class="menu-text">充提报表</span>
                </a>
            </li>
            <!--li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-bar-chart"></i>
                    <span class="menu-text">消费报表</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-globe"></i>
                    <span class="menu-text">团队盈亏</span>
                </a>
            </li>
        </ul>
    </li>-->
    <!--系统设置-->
    <!--li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-cog"></i>
            <span class="menu-text">系统设置</span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-cog"></i>
                    <span class="menu-text">常规设置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-gamepad"></i>
                    <span class="menu-text">游戏配置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-bullhorn"></i>
                    <span class="menu-text">系统公告</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <i class="menu-icon fa fa-server"></i>
                    <span class="menu-text">系统日志</span>
                </a>
            </li>
        </ul>
    </li-->
</ul>
<!-- /Sidebar Menu -->
