﻿<!--div class="widget radius-bordered"-->
<div class="widget-header header-large" style=" width: 100%">
    <div style="float:left">
        <form class="widget-buttons">
           <span class="input-icon">
            <input type="text" class="form-control input-xs" id="glyphicon-search"
                   placeholder="查找用户名" ui-keypress="{13:'search(userNameSearch,false)'}"
                   ng-model="userNameSearch"
                    >
            <i class="glyphicon glyphicon-search blue"></i>
        </span>
        </form>
        <a href="#/userPage/{{userName}}">
            <button class="btn btn-default shiny"><i class="fa fa-tags blue"></i>基本信息</button>
        </a>
        <a href="#/user999/{{userName}}">
            <button class="btn btn-default shiny"><i class="fa fa-line-chart darkorange"></i>账变</button>
        </a>
        <!--a href="#/loginLog/{{userName}}">
            <button class="btn btn-default shiny"><i class="fa fa-location-arrow darkorange"></i>IP分析</button>
        </a-->
        <a href = '#/order/{{userName}}'>
            <button class="btn btn-default shiny"><i class="fa fa-list-ol darkorange"></i>下注记录</button>
        </a>
        <!--button class="btn btn-default shiny"><i class="fa fa-magic darkorange"></i>金额调整</button-->
        <a href = '#/userSubUser/{{userName}}'>
            <button class="btn btn-default shiny"><i class="fa fa-user  darkorange"></i>下线查询</button>
        </a>
        <a href ='#/agentReport/{{userName}}'>
            <button class="btn btn-default shiny"><i class="fa fa-bar-chart darkorange"></i>下级报表</button>
        </a>
        <!--button class="btn btn-default shiny"><i class="fa fa-globe darkorange"></i>团队概览</button-->
    </div>


</div>
<form class="form-inline" role="form" ng-submit="dRequest.page =1;requestFunc();">
    <span ng-if="oSearch.startTime">|</span>
    <input type="date" class="input-sm" style="width: 120px" ng-if="oSearch.startTime" ng-model="sStartTime"
           ng-change="setStartTime(sStartTime)">
    <span ng-if="oSearch.startTime">-</span>
    <input type="date" class="input-sm" style="width: 120px" ng-if="oSearch.startTime" ng-model="sEndTime"
           ng-change="setEndTime(sEndTime)">
    <span ng-if="oSearch.startTime">|</span>
    <button type="submit" class="btn btn-active">查看</button>
</form>