﻿<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">

    <!-- Head -->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!--meta charset="utf-8" /-->
        <meta http-equiv = "content-type" content = " text/html; charset=UTF-8" />
        <!--meta http-equiv="Content-Type" content="text/html; charset=GBK" /-->
        <title page-title></title>

        <meta name="description" content="blank page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--Basic Styles-->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link ng-if="settings.rtl" ng-href="assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
        <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
        <link href="assets/css/weather-icons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="lib/angular/anguar-chart/angular-chart.min.css">


        <!--Fonts-->
        <style>
	        @@font-face {
	            font-family: 'WYekan';
	            src: url('/assets/fonts/BYekan.woff') format('woff');
	            font-weight: normal;
	            font-style: normal;
	        }
    	</style>
        <link href="assets/css/googleapis.css" rel="stylesheet" type="text/css">


        <!--Beyond styles-->
        <link ng-if="!settings.rtl" href="assets/css/beyond.min.css" rel="stylesheet" />
        <link ng-if="settings.rtl" href="assets/css/beyond-rtl.min.css" rel="stylesheet" />
        <link href="assets/css/demo.min.css" rel="stylesheet" />
        <link href="assets/css/typicons.min.css" rel="stylesheet" />
        <link href="assets/css/animate.min.css" rel="stylesheet" />
        <link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />

        <link href="assets/css/selfReliance.css" rel="stylesheet" type="text/css">

        <link href="assets/css/injectedStyles.css" rel="stylesheet" type="text/css">


    </head>
    <!-- /Head -->

    <!-- Body -->
    <body>
        <div ui-view autoscroll="false"></div>

        <!-- Scripts -->
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/jquery/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/utilities.js"></script>

        <script src="lib/angular/angular-animate/angular-animate.js"></script>
        <script src="lib/angular/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular/angular-resource/angular-resource.js"></script>
        <script src="lib/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular/angular-touch/angular-touch.js"></script>

        <script src="lib/angular/angular-ui-router/angular-ui-router.js"></script>
        <script src="lib/angular/angular-ocLazyLoad/ocLazyLoad.js"></script>
        <script src="lib/angular/angular-ui-utils/angular-ui-utils.js"></script>
        <script src="lib/angular/angular-breadcrumb/angular-breadcrumb.js"></script>
        <script src="lib/jquery/charts/sparkline/jquery.sparkline.js"></script>


        <!--script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script-->
        <!--script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script-->
        <script src="lib/angular/angular-morris-chart.min.js"></script>


        <script src="lib/angular/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="lib/jquery/slimscroll/jquery.slimscroll.js"></script>

        <script src="lib/angular/ng-local-storage/angular-local-storage.min.js"></script>
        <script src="lib/angular/ng-md5/angular-md5.js"></script>

        

        <script src="./vender/bower-angular-translate-master/angular-translate.js"></script>
        <script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <!-- App Config and Routing Scripts -->

        <script src="app/app.js"></script>
        <script src="app/config.js"></script>
        <script src="app/config.lazyload.js"></script>

        <script src="app/beyond.js"></script>
        <script src="app/controllers/controllers.js"></script>
        <script src="app/controllers/historyCtrl.js"></script>
        <script src="app/controllers/sidebarCtrl.js"></script>
        <script src="app/controllers/userCtrl.js"></script>
        <script src="app/controllers/adminCtrl.js"></script>
        <script src="app/controllers/searchBarCtrl.js"></script>
        <script src="app/controllers/navbarCtrl.js"></script>
        <!-- Layout Related Directives -->
        <script src="app/directives/loading.js"></script>
        <script src="app/directives/skin.js"></script>
        <script src="app/directives/sidebar.js"></script>
        <script src="app/directives/header.js"></script>
        <script src="app/directives/navbar.js"></script>
        <script src="app/directives/chatbar.js"></script>
        <script src="app/directives/widget.js"></script>
        
        <script src="app/directives/accordion.js"></script>

        <script src="app/services/services.js"></script>
        <script src="app/services/historyService.js"></script>
        <script src="app/services/adminService.js"></script>
        <script src="app/services/adminDetailService.js"></script>
        <script src="app/services/adminUpdateService.js"></script>
        <script src="app/services/adminDelService.js"></script>
        <script src="app/services/auth.js"></script>
        <script src="app/services/configService.js"></script>
        <script src="app/services/lang.js"></script>

        <script src="app/config.router.js"></script>
        
    </body>
    <!--  /Body -->
</html>
