
<head>

<head>
  <meta http-equiv = "content-type" content = " text/html; charset=UTF-8" />
  <title>泛亚斗鸡 sabong</title>
  <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
  <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>

</head>
  <div class="video">
    <video id="ipcStreamVideo" controls="controls" autoplay="true"
           x-webkit-airplay="allow" webkit-playsinline>
      <!-- <source id="rtmpStreamSource" type="video/mp4"></source> -->
      <source src="rtmp://47.89.16.53:1935/sabong/sabong"type="application/vnd.apple.mpegurl"/>
    </video>
  </div>

