
<head>

<head>
  <meta http-equiv = "content-type" content = " text/html; charset=UTF-8" />
  <title>泛亚斗鸡 sabong</title>
  <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
  <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>

</head>
<video  class="video-js vjs-default-skin" controls preload="none"
        width="640" height="480" data-setup="{}"
autoplay>
  <source src="rtmp://47.89.16.53/live/sb" type="rtmp/flv">
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
  Game:
<video class="video-js vjs-default-skin" controls preload="none"
       width="605" height="480" data-setup="{}"
autoplay>
  <source src="rtmp://47.89.16.53/sabong/sabong" type="rtmp/flv">
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
