<div ng-controller="AdminUpdateCtrl" data-ng-init="initUpdateInfo()">


    <!-- desktop, tablet, mobile -->

    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-palegreen header-md">
                <span class="widget-caption">Update</span>
            </div>

            <div class="widget-body">
                <div class="form-groupers">
                    <form role="form" class="form-horizontal ng-pristine ng-valid">

                        <div class="form-group has-info">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                                <span class="input-group-addon group-addon-label">{{aTitle[0][0]}}</span>
                                <input class="form-control" disabled="disabled" ng-model="adminInfo.username" type="text">
                            </div>
                        </div>

                        <div class="form-group has-info">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                                <span class="input-group-addon group-addon-label">{{aTitle[1][0]}}</span>
                                <input class="form-control" disabled="disabled" ng-model="adminInfo.createtime" type="text">
                            </div>
                        </div>

                        <div class="form-group has-info">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                                <span class="input-group-addon group-addon-label">{{aTitle[2][0]}}</span>
                                <input class="form-control" disabled="disabled" ng-model="adminInfo.agentname" type="text">
                            </div>
                        </div>

                        <div class="form-group has-info">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                                <span class="input-group-addon group-addon-label">{{aTitle[3][0]}}</span>
                                <select ng-model="typeSel" class="form-control">
                                    <option value="" class="ng-binding">{{oi18n.allType}}</option>
                                    <option ng-repeat="type in types" value="{{type.key}}">{{oi18n.txt(type.value)}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group has-info">
                            <table class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-offset-1 col-xs-10">
                                <tbody><tr>
                                    <td class="form-label group-label text-info">{{oi18n.changepassword}}:</td>
                                    <td class="group-input">
                                        <label>
                                            <input class="checkbox-slider colored-blue" ng-model="userPsw" type="checkbox">
                                            <span class="text">&nbsp;</span>
                                        </label>
                                        <input ng-show="userPsw" ng-model="updatePSW" class="form-control" type="password">
                                    </td>
                                </tr></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                                <div class="buttons-preview">
                                    <button class="shiny btn btn-sky ng-binding" ng-click="saveInfo()">{{oi18n.save}}</button>
                                    <button class="shiny btn btn-danger ng-binding" ng-click="delete()">{{oi18n.delete}}</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div> <!-- col-lg-12 col-sm-12 col-xs-12 -->




    <!--<div ng-include="'views/partials/pager.html'"></div>-->
</div>
