<div ng-controller="AdminDetailCtrl" data-ng-init="initType()">
    <div class="row">


	<div class="col-md-6 col-xs-12 col-sm-12">
    	<div class="widget">
        	<div class="widget-header bordered-bottom bordered-palegreen header-md">
            	<span class="widget-caption">New Admin</span>
        	</div>
        		<div class="widget-body">
            		<div class="form-groupers">
                		<div class="form-group has-info">
            				<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                        		<span class="input-group-addon group-addon-label">{{aTitle[0][0]}}</span>
                        		<input class="form-control" ng-model="menberInfo.userName" type="text">
                    		</div>
                		</div>
                		<div class="form-group has-info">
                    		<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                        		<span class="input-group-addon group-addon-label">{{aTitle[1][0]}}</span>
                        		<input class="form-control" ng-model="menberInfo.password" type="password">
                    		</div>
                		</div>
                		<div class="form-group has-info">
                    		<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 input-group">
                        		<span class="input-group-addon group-addon-label">{{aTitle[3][0]}}</span>
                        		<select class="form-control" ng-model="typeSel" type="text">
                                    <option value="">{{oi18n.allType}}</option>
                                    <option ng-repeat="type in types" value="{{type.key}}" ng-selected="{{type.key === '2'}}">{{oi18n.txt(type.value)}}</option>
                        		</select>
                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                        		<div class="buttons-preview">
                            		<button class="shiny btn btn-sky ng-binding" ng-click="addMembers(menberInfo)">{{oi18n.save}}</button>
                            		<button class="shiny btn btn-danger ng-binding" ng-click="clear()">{{oi18n.clear}}</button>
                        		</div>
                    		</div>
                		</div>
            		</div>
        		</div>
    		</div>
		</div>



    </div>
    <!--<div ng-include="'views/partials/pager.html'"></div>-->
</div>
