<div ng-controller="AdminCtrl" data-ng-init="init();showExtraButton();">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div ng-include="'views/partials/searchBar.html'"></div>
            <button class="add-admin" type="button" ng-click="addAdmin()">{{oi18n.addAdmin}}</button>
            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content bordered-palegreen">
                    <tr>
                        <th ng-repeat="title in aTitle">
                            {{title[0]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
                    -->    
                    <tr ng-repeat="rowData in oData">
                        <td>{{rowData.createtime}}</td>
                        <td>
                            <a ng-href='#/app/adminUpdate/{{rowData.id}}'> <!--target="{{!bDetail?'_blank':''}}"-->
                                {{rowData.username}}
                            </a>
                            <!--<strong ng-bind-html="getUserStatus(rowData[0].status)"></strong>-->
                            <button ng-click="updateAdmin(rowData.userid)">{{oi18n.modify}}</button>
                        </td>
                        <td>{{transStatus[rowData.status-1]}}</td>
                        <td>{{transType[rowData.type-1]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'views/partials/pager.html'"></div>
</div>