﻿<div ng-controller="AccountCtrl">
    <h5 class="row-title"><i class="typcn typcn-th-small"></i>提款请求</h5>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-info fade in alert-radius-bordered alert-shadowed">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-info"></i>

                <strong>提示:</strong> 这里是提示框。
            </div>

            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content bordered-palegreen">
                    <tr>
                        <th ng-repeat="title in aTitle" class="title[1]">
                            {{title[0]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
            $scope.aClass = ["","","numeric",""];
                    -->
                    <tr ng-repeat="rowData in oData">
                        <td>
                            {{rowData.createtime}}
                        </td>
                        <td>
                            {{rowData.username}}
                        </td>
                        <td class="numeric">
                            {{rowData.amount |number:2}}
                        </td>
                        <td>
                            {{rowData.memo}}
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div ng-include="'views/partials/pager.html'"></div>
            </div>
        </div>
    </div>
</div>