<div ng-controller="ReportCtrl" data-ng-init="initUserCredit()">
    <div ng-include="'views/partials/searchBar.html'"></div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                    <thead class="flip-content bordered-palegreen">
                        <tr>
                            <th>{{oi18n('Credit')}}</th>
                            <th>{{oi18n('Add')}}</th>
                            <th>{{oi18n('Reset')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: lightcyan">
                            <td>{{oData.accountAmount |number:2}}</td>
                            <td><input type="button" value="{{oi18n('Add')}}" style="margin-right: 10px;" ng-click= "clickAdd()"><input type="number" ng-model = "amount"></td>
                            <td><input type="button" value="{{oi18n('Reset')}}" ng-click="clickReset()"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div ng-include="'views/partials/pager.html'"></div>
    </div>
</div>
