﻿
<div ng-controller="DashboardCtrl" ng-init="init()">
    <div ng-include="'views/partials/searchBar.html'" ></div>
    <!--<div class="alert alert-danger fade in alert-radius-bordered alert-shadowed" ng-if="bLoading">-->
        <!--<button class="close" data-dismiss="alert">-->
            <!--×-->
        <!--</button>-->
        <!--<i class="fa-fw fa fa-info"></i>-->
        <!--<span ng-bind = "sLoadingInfo"></span>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-3">
            <div class="label" style="width: 300px">
                <div class="widget-header  bordered-themesecondary">
                    <i class="widget-icon fa fa-tags themesecondary"></i>
                    <span class="widget-caption themesecondary">{{dbNameOp.merchantName}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12" ng-if="oToday">
                    <div class="databox">
                        <div class="databox-left bg-white">
                            <div class="databox-sparkline">
                                <div style="height: 240px;" ui-jq="sparkline"
                                     ui-options="aAmount, {type:'bar', height:40, width:'100%', barColor:'#57b5e3', negBarColor:'#a0d468', zeroColor:'#d73d32', barWidth:5, barSpacing:1  }"></div>
                            </div>
                        </div>
                        <div class="databox-right bg-white bordered bordered-platinum">
                            <span class="databox-number sky">{{oToday.bet_amount |number:2}}</span>
                            <div class="databox-text darkgray">{{oi18n.txt("Bet Today")}}</div>
                            <div class="databox-stat bg-sky radius-bordered">
                                <div class="stat-text">{{oi18n.txt("Yesterday")}}:{{oYesterday.bet_amount |number:2}}</div>
                            </div>
                            <div class="databox-stat  radius-bordered" ng-class="oToday.deltaAmount<0?'bg-red':'bg-blue'"  style="top:32px">
                                <div class="stat-text">{{oToday.deltaAmount |number:2}}%</div>
                                <i class="stat-icon fa " ng-class="oToday.deltaAmount >0 ?'fa-arrow-up':'fa-arrow-down'"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12"  ng-if="oToday">
                    <div class="databox radius-bordered databox-shadowed">
                        <div class="databox-left bg-white">
                            <div class="databox-sparkline">
                                <div style="height: 240px;" ui-jq="sparkline"
                                     ui-options="aUserNum, {type:'bar', height:40, width:'100%', barColor:'gold', negBarColor:'red', zeroColor:'red', barWidth:5, barSpacing:1  }"></div>
                            </div>
                        </div>

                        <div class="databox-right bg-magenta ">
                            <span class="databox-number white">{{oToday.userNum}}</span>
                            <div class="databox-text">{{oi18n.txt("Active User")}}</div>
                            <div class="databox-stat bg-gold radius-bordered">
                                <div class="stat-text white">{{oi18n.txt("Yesterday")}}:{{oYesterday.userNum}}</div>
                            </div>
                            <div class="databox-stat  radius-bordered" ng-class="oToday.deltaUser<0?'bg-pink':'bg-blue'"  style="top:32px">
                                <div class="stat-text">{{oToday.deltaUser}}%</div>
                                <i class="stat-icon fa " ng-class="oToday.deltaUser >0 ?'fa-arrow-up':'fa-arrow-down'"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12"  ng-if="oToday">
                    <div class="databox radius-bordered databox-shadowed">
                        <div class="databox-left bg-white">
                            <div class="databox-sparkline">
                                <div style="height: 240px;" ui-jq="sparkline"
                                     ui-options="aDeposit, {type:'bar', height:40, width:'100%', barColor:'magenta', negBarColor:'#a0d468', zeroColor:'#d73d32', barWidth:5, barSpacing:1  }"></div>
                            </div>
                        </div>
                        <div class="databox-right bg-white ">
                            <span class="databox-number magenta">{{oToday.deposit |number:2}}</span>
                            <div class="databox-text magenta">{{oi18n.txt("Deposit Today")}}</div>
                            <div class="databox-stat bg-magenta radius-bordered">
                                <div class="stat-text white">{{oi18n.txt("Yesterday")}}:{{oYesterday.deposit |number:2}}</div>
                            </div>
                            <div class="databox-stat  radius-bordered" ng-class="oToday.deltaDeposit<0?'bg-red':'bg-blue'"  style="top:32px">
                                <div class="stat-text">{{oToday.deltaDeposit}}%</div>
                                <i class="stat-icon fa" ng-class="oToday.deltaDeposit >=0 ?'fa-arrow-up':'fa-arrow-down'"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12"  ng-if="oToday">
                    <div class="databox radius-bordered databox-shadowed">
                        <div class="databox-left bg-white">
                            <div class="databox-sparkline">
                                <div style="height: 240px;" ui-jq="sparkline"
                                     ui-options="aWithdraw, {type:'bar', height:40, width:'100%', barColor:'#57b5e3', negBarColor:'#a0d468', zeroColor:'#d73d32', barWidth:5, barSpacing:1  }"></div>
                            </div>
                        </div>

                        <div class="databox-right bg-sky ">
                            <span class="databox-number white">{{oToday.withdraw |number:2}}</span>
                            <div class="databox-text">{{oi18n.txt("Withdraw Today")}}</div>
                            <div class="databox-stat bg-blue radius-bordered">
                                <div class="stat-text white">{{oi18n.txt("Yesterday")}}:{{oYesterday.withdraw|number:2}}</div>
                            </div>
                            <div class="databox-stat  radius-bordered" ng-class="oToday.deltaWithdraw<0?'bg-red':'bg-blue'"  style="top:32px">
                                <div class="stat-text">{{oToday.deltaWithdraw|number:2}}%</div>
                                <i class="stat-icon fa " ng-class="oToday.deltaWithdraw >=0 ?'fa-arrow-up':'fa-arrow-down'"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="horizontal-space"></div-->


        </div>
    </div>
</div>