﻿<div ng-controller="UserCtrl" data-ng-init="initIllegal()">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div ng-include="'views/partials/searchBar.html'"></div>

            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                    <thead class="flip-content bordered-palegreen">

                    <tr>
                        <th ng-repeat="title in aTitle" class="title[1]">
                            {{title[0]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
                    -->
                    <tr ng-repeat="rowData in oData">
                        <td>{{rowData.createtime}}</td>
                        <td >
                            <a ng-href='#/userPage/{{rowData.userame}}' target="{{!bDetail?'_blank':''}}">
                                {{rowData.userame}}
                            </a>
                        </td>
                        <td style="width: 60%">{{rowData.info}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'views/partials/pager.html'"></div>
</div>