<select class="language-switching" ng-controller="LanguageSwitchingCtrl" ng-model="cur_lang" ng-change="switching(cur_lang)">
    <option value="en_US">English</option>
    <option value="zh_CN">简体中文</option>
</select>
<div class="login-container animated fadeInDown" ng-controller="LoginCtrl">
    <form class="loginbox bg-white"  ng-submit="login(credentials)">
        <div class=" loginbox-title">{{oi18n.txt('Bitgame')}}</div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="{{oi18n.txt('Username')}}" ng-model="credentials.usr"/>
        </div>
        <div class="loginbox-textbox">
            <input type="password" class="form-control" placeholder="{{oi18n.txt('Password')}}" ng-model="credentials.psw"/>
        </div>
        <div class="loginbox-forgot">
            <!--a href="">Forgot Password?</a-->
        </div>
        <div class="loginbox-submit">
            <input type="submit" class="btn btn-primary btn-block" value="{{oi18n.txt('Login')}}">
        </div>

    </form>
    <div class="loginbox bg-white">

        <div class="loginbox-or">{{webInfo.host}}:{{webInfo.port}}</div>
        <div class="loginbox-or">Powered by bitga.me© {{oi18n.txt('Bitgame')}}</div>
    </div>
</div>