﻿<div ng-controller="UserCtrl" data-ng-init="initIP()">
    <div ng-include="'views/partials/searchBar.html'" ></div>
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content bordered-palegreen">

                    <tr>
                        <th ng-repeat="title in aTitle" class="title[1]">
                            {{title[0]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
                    -->
                    <tr ng-repeat="rowData in oData">
                        <td>{{rowData.createtime}}</td>
                        <td>
                            <a ng-href='#/userPage/{{rowData.username}}' target="{{!bDetail?'_blank':''}}">
                                {{rowData.username}}
                            </a>
                        </td>
                        <td>
                            <a href="#/app/loginLog/{{rowData.ip}}" target="_blank">
                                {{rowData.ip}}
                            </a>
                        </td>
                        <td>{{rowData.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'views/partials/pager.html'"></div>
</div>