﻿
<div class="main-container container-fluid" ng-controller="OrderDetailCtrl" data-ng-init="init()">
    <!-- Page Container -->
    <div class="page-container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <!--div class="well  invoice-container "-->
                <div class="widget radius-bordered">
                    <div ng-include="'views/partials/loading.html'"></div>
                    {{oData}}
                    <div class="widget-body">
                        <!--div class="row" ng-if="!userName">参数错误。</div-->
                        <div class="row" ng-if="data.id">
                            <div class="col-lg-3 col-md-3"></div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="form-title">
                                    <h3><strong>单号：{{data.id}}</strong></h3>

                                    <h3 ng-if="data.autoOrderId"><strong>追号单号：{{data.autoOrderId}}</strong></h3>
                                </div>
                                <div class="form-title">
                                    <h5>创建时间:{{data.createtime}}</h5>
                                    <h5>彩种:{{data.lotterycode}}</h5>
                                    <h5>期次:{{data.issue}}</h5>
                                    <h5>类型:{{data.type}}</h5>
                                    <h5>玩法:{{data.playname}}</h5>
                                    <h5>倍数:{{data.multiple}}</h5>
                                    <h5>注数:{{data.zs}}</h5>

                                </div>
                                <div class="form-title">
                                    <h5>更新时间:{{data.updatetime}}</h5>
                                    <h5>开奖号码:{{data.bonusNumber}}</h5>
                                    <h5>中奖金额:{{data.updatetime}}</h5>
                                    <h5>状态:{{data.status}}</h5>
                                    <h5>中奖注数:{{data.zjzs}}</h5>

                                </div>
                                <button type="button" class="btn btn-darkorange shiny" ng-click=""
                                        >关闭
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--/div-->
</div>


