﻿<div ng-controller="DashboardCtrl">
    <div class="row searchhelpbar">
        <div class="col-sm-8 help-box">
            <div class="alert alert-danger alert-radius-bordered alert-shadowed">
                <p>Place Glyph icons just about anywhere with the <code>&lt;i&gt;</code> tag.</p>
                <p>
                    <code>
                        <span class="nt">&lt;i</span>
                        <span class="na">class=</span><span class="s">"glyphicon glyphicon-pencil"</span><span class="nt">&gt;&lt;/i&gt;</span>

                    </code>
                </p>
            </div>
        </div>
        <div class="col-sm-4 search-box">
            <div>
            <span class="input-icon">
                <input type="text" class="form-control" id="glyphicon-search" placeholder="Search">
                <i class="glyphicon glyphicon-search circular danger"></i>
            </span>
            </div>
        </div>
    </div>
    <div class="horizontal-space space-sm"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-21 col-sm-12 col-xs-12">
                    <tabset justified="true">
                        <tab heading="二星">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                        </tab>
                        <tab heading="一星">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                                squid.</p>
                        </tab>
                        <tab heading="和值">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's
                                organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div class="horizontal-space space-sm"></div>
            <div class ="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <tabset>
                    <tab heading="二星">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </tab>
                    <tab heading="一星">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                    </tab>
                    <tab heading="和值">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                    </tab>
                </tabset>
                <div class="horizontal-space"></div>
            </div>
            </div>
        </div>
    </div>
</div>