﻿<div ng-controller="OrderCtrl" data-ng-init="init({isQT:true})">
<div ng-include="'views/partials/searchBar.html'"></div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                <thead class="flip-content bordered-palegreen">

                <tr>
                    <th ng-repeat="title in aTitle" class="title[1]">
                        {{title[0]}}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="rowData in oData">
                    <td>{{rowData.createtime}}<br>{{rowData.updatetime}}</td>
                    <td >
                        {{rowData.issue}}
                    </td>

                    <td><a ng-href='#/app/orderList/{{rowData.username}}'>{{rowData.username}}</a> </td>
                    <td>{{rowData.amount}}</td>
                    <td>{{rowData.bonusAmount}}</td>
                    <td >
                    {{rowData.lotterycode}}
                    </td>

                    <!--<td style="width: 10%">-->
                        <!--{{rowData.playname}}-->
                    <!--</td>-->

                    <td >
                        {{rowData.orderNo}}
                        <button ng-click="cancelOrder($index)" ng-if="(rowData.status ==0)||(rowData.status ==1)||(rowData.status==2)">{{oi18n.orderCancel}}</button>
                    </td>
                    <td>{{transStatus[rowData.status]}}</td>
                    <td>{{rowData.odds}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div >
    <div ng-include="'views/partials/pager.html'"></div>
</div>
</div><div ng-controller="OrderCtrl" data-ng-init="init()">