﻿<div class="main-container container-fluid" ng-controller="UserDetailCtrl" data-ng-init="init()">
    <!-- Page Container -->
    <div class="page-container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <!--div class="well  invoice-container "-->
                <div class="widget radius-bordered">
                    <div ng-include="'views/partials/loading.html'"></div>
                    <div ng-include="'views/partials/userDetailNav.html'"></div>
                    <div class="widget-body">
                        <div class="row" ng-if="!data.member && !bLoading">找不到指定的用户名或访问超时。</div>
                        <!--div class="row" ng-if="!userName">参数错误。</div-->
                        <div class="row" ng-if="data.member">

                            <div class="col-lg-3 "></div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <!--div id="registration-form"-->
                                <!--form role="form"-->
                                <div class="form-title">
                                    <h4><strong>ID: {{data.member[0].id}} &nbsp 用户名:
                                        {{data.member[0].username}}</strong>
                                        <strong ng-bind-html="getUserStatus(data.member[0].status)"></strong>
                                    </h4>
                                    <h5>真实姓名:{{data.member[0].realname}}
                                    </h5>
                                    <h5 ng-if="data.member[0].errtimes" class="red"><strong>尝试非法参数:
                                        {{data.member[0].errtimes}}</strong></h5>
                                    <h5>登陆总数：{{data.member[0].loginCount}}</h5>
                                    <h5>最后登录时间: {{data.member[0].updatetime}}</h5>
                                    <h5>最后登录Ip: {{data.member[0].loginIp}}</h5>
                                    <h5 ng-if="data.member[0].info">用户评价：<span
                                            ng-bind-html="data.member[0].info"></span></h5>
                                    <h5>上级信息：
                                        <a ng-repeat="item in data.upUserinfoList"
                                           href="#/userPage/{{item.username}}" target="_blank">
                                            {{item.username}}
                                            <span ng-bind-html="item.info"></span>{{}}|
                                        </a>
                                    </h5>

                                </div>
                                <div class="row">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h4><strong>财务信息</strong></h4>
                                                <h5>账户余额:{{data.member[1].amount}}</h5>
                                                <h5>
                                                    充值{{data.rechargeCount?data.rechargeCount:0}}笔，共{{data.rechargeAmount?data.rechargeAmount:0}}元</h5>
                                                <h5>消费999笔，共12341234</h5>
                                                <h5>
                                                    提款{{data.withDrawCount}}笔，共{{data.withDrawAmount?data.withDrawAmount:0}}元</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h4><strong>市场信息</strong></h4>
                                                <h5>返点信息: {{data.member[0].rebate_info}}</h5>
                                                <h5>注册来源: {{getRegFrom(data.member[0].regFrom)}}</h5>
                                                <h5>注册时间:{{data.member[0].createtime}}</h5>
                                                <h5>注册IP: {{data.member[0].regIp}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="bOnEdit">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">用户评价</label>
                                                                        <span class="input-icon icon-right">
                                                                            <textarea class="form-control"
                                                                                      rows="2"
                                                                                      ng-model="data.member[0].info"
                                                                                    ></textarea>
                                                                            <i class="fa fa-edit darkorange"></i>
                                                                        </span>
                                            </div>

                                            <button type="button" class="btn btn-info" ng-click="submitInfo()"
                                                    ng-if="bOnEdit">
                                                提交
                                            </button>

                                        <hr class="wide" />
                                    </div>
                                    <div class="row" ng-if="bOnEditProfile">
                                        <div class="form-group">
                                            <label>真实姓名:{{data.member[1].amount}}</label>
                                            <label>
                                                类型{{data.rechargeCount?data.rechargeCount:0}}笔，共{{data.rechargeAmount?data.rechargeAmount:0}}元</label>
                                            <label>转账功能：打开</label>
                                            <label> 取款密码{{data.withDrawCount}}</label>
                                            <label> 登陆密码{{data.withDrawCount}}</label>

                                            <button type="button" class="btn btn-info" ng-click="submitProfileInfo()">提交
                                            </button>
                                        </div>
                                        <hr class="wide" />
                                    </div>
                                    <button type="button" class="btn btn-darkorange shiny" ng-click="bOnEdit = !bOnEdit"
                                            ng-bind="bOnEdit?'取消':'评价'"></button>
                                    <button type="button" class="btn btn-maroon shiny"
                                            ng-click="bOnEditProfile = !bOnEditProfile"
                                            ng-bind="bOnEditProfile?'取消':'编辑'"></button>
                                </div>
                            </div>
                            <!--/form-->
                            <!--/div-->
                            <!--

用户编号:	23160
用户名:	a694932457
账户余额:	28.64
*真实姓名:
朱国春
*用户状态:
*类型:默认代理普通测试
转账功能:关闭开启
*登录密码:
1396980a645a74c98e4cc31c60f7c89f
*提款密码:
184b124aaefad6f53f26a4d6dd1ee823

                            -->
                        </div>

                    </div>
                </div>
            </div>
            <!--/div-->
        </div>
    </div>
</div>

