<div ng-controller="UserCtrl" data-ng-init="init();showExportButton()">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div ng-include="'views/partials/searchBar.html'"></div>
            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content bordered-palegreen">
                        <tr>
                            <th ng-repeat="title in aTitle" class="title[1]">
                                {{title[0]}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
                    -->
                    <tr ng-repeat="rowData in oData">
                        <td>{{rowData[0].createtime}}</td>
                        <td>
                            <a ng-href='#/app/orderList/{{rowData[0].username}}'> <!--target="{{!bDetail?'_blank':''}}"-->
                                {{rowData[0].username}}
                            </a>
                            <div ng-if="authority.lockUser && rowData[0].status != 2" class="unfreeze-btn" >
                                <input type="button" value="Lock" ng-click="clickLock(rowData[0].username)">
                            </div>
                            <strong ng-bind-html="getUserStatus(rowData[0].status)"></strong>
                            <div ng-if="authority.lockUser && rowData[0].status == 2" class="unfreeze-btn">
                                <input type="button" value="Unlock" ng-click="clickUnlock(rowData[0].username)">
                            </div>
                        </td>
                        <td>{{rowData[1].amount |number:2}}</td>
                        <td>{{rowData[0].loginCount}}</td>
<!--                        <td>{{rowData[0].upuNames}}&nbsp;&nbsp;&nbsp;{{rowData[1].status}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'views/partials/pager.html'"></div>
</div>