﻿<div class="well bordered-left bordered-themesecondary">
    <i class="fa fa-star yellow margin-right-5"></i>
    <strong>声明: </strong>博广娱乐版权所有。
</div>

<!--<h5 class="row-title before-themeprimary">Our Current Versions</h5>-->
<div class="row pricing-container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan">
            <div class="header bordered-yellow">BG</div>
            <ul>
                <li><b></b></li>
                <li>
                    <p>
                        <br />

                        <br />
                    </p>
                </li>
            </ul>
            <a class="signup bg-yellow" href="#">Click</a>
        </div>
    </div>

</div>
