<div ng-controller="AccountCtrl" data-ng-init="initWithdraw();showExtraButtons();">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div ng-include="'views/partials/searchBar.html'"></div>
            <div class="flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content" style="word-break: break-all">
                    <thead class="flip-content bordered-palegreen">

                    <tr>
                        <th ng-repeat="title in aTitle" class="title[1]">
                            {{title[0]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                    $scope.aTitle = ["时间","用户名","金额","说明"];
            $scope.aClass = ["","","numeric",""];
                    -->
                    <tr ng-repeat="rowData in oData track by $index">
                        <td>
                            {{rowData.createtime}}<br>
                        </td>
                        <td>{{rowData.billNo}}</td>
                        <td><!--a ng-href='#/userPage/{{rowData[0].username}}' target="{{!bDetail?'_blank':''}}"-->
                            <a ng-href='#/app/business/{{rowData.username}}'>
                            {{rowData.username}}</a></td>
                        <td>{{rowData.beforeAmount |number:2}}</td>
                        <td>{{rowData.afterAmount |number:2}}</td>
                        <td>{{rowData.amount |number:2}}</td>

                        <!--<td>{{aStatus[rowData[0].status].label}}<br>-->
                        <td>{{rowData.memo}}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div ng-include="'views/partials/pager.html'"></div>
</div>