<body>

<div class="content layout clearfix">
<!--
这里是v层，没有路由，都是单页先,加载的时候载入controller和service，不同的游戏和玩法实际上接口是一样的，
就是组装的数据不一样；
投注接口不一样；
页面初始化的接口参数不一样；

页面加载：最近N期
-->
    <a style="display: none" id="LotteryCode">006</a>

    <div class="bet-panel gamehead clearfix">
        <div class="lottery-info clearfix">
            <div class="time">
                <div>第<span class="fontc1" id="J-lottery-info-number">160709059</span> 期 离投注截止还有</div>
                <ul class="count-down">
                    <li class="hour">00</li>
                    <li class="symbol">:</li>
                    <li class="min">01</li>
                    <li class="symbol">:</li>
                    <li class="sec">12</li>
                </ul>
            </div>
            <div class="last-ball">
                <div class="period">重庆时时彩 第 <span class="fontc7" id="J-lottery-info-lastnumber">160709058</span> 期</div>
                <ul class="num" id="J-lottery-info-balls">
                    <li>0</li>
                    <li>5</li>
                    <li>7</li>
                    <li>4</li>
                    <li>1</li>
                </ul>
            </div>
            <div class="history-lottery">
                <div class="desc">往期开奖</div>
                <ul class="lottery-list" id="lottery-history-list" style="height:100px;">
                    <li id="lastBN"><span class="period">160709058-</span><span class="num">0,5,7,4,1</span></li>
                    <li><span class="period">160709057-</span><span class="num">5,2,6,3,7</span></li>
                    <li><span class="period">160709056-</span><span class="num">4,6,0,9,3</span></li>
                    <li><span class="period">160709055-</span><span class="num">3,6,0,8,3</span></li>
                    <li><span class="period">160709054-</span><span class="num">8,8,4,5,3</span></li>
                    <li><span class="period">160709053-</span><span class="num">6,9,4,0,8</span></li>
                    <li><span class="period">160709052-</span><span class="num">8,7,6,9,3</span></li>
                    <li><span class="period">160709051-</span><span class="num">9,5,7,2,1</span></li>
                    <li><span class="period">160709050-</span><span class="num">3,9,5,6,5</span></li>
                    <li><span class="period">160709049-</span><span class="num">6,8,5,3,0</span></li>
                    <li><span class="period">160709048-</span><span class="num">2,7,2,4,7</span></li>
                    <li><span class="period">160709047-</span><span class="num">7,3,3,1,9</span></li>
                    <li><span class="period">160709046-</span><span class="num">7,0,1,1,3</span></li>
                    <li><span class="period">160709045-</span><span class="num">2,7,9,1,4</span></li>
                    <li><span class="period">160709044-</span><span class="num">2,2,6,6,8</span></li>
                    <li><span class="period">160709043-</span><span class="num">5,4,2,3,5</span></li>
                    <li><span class="period">160709042-</span><span class="num">3,0,9,6,4</span></li>
                    <li><span class="period">160709041-</span><span class="num">1,9,1,3,9</span></li>
                    <li><span class="period">160709040-</span><span class="num">5,6,5,4,0</span></li>
                    <li><span class="period">160709039-</span><span class="num">7,7,1,3,2</span></li>
                </ul>
            </div>
        </div>
        <!---->
        <div class="play-section">
            <div id="J-play-select" class="play-select">
                <div id="change">
                    <ul class="play-select-title clearfix">
                        <li class="wuxing">五星</li>
                        <li class="sixing">四星</li>
                        <li class="housan current">后三</li>
                        <li class="zhongsan">中三</li>
                        <li class="qiansan">前三</li>
                        <li class="houer">后二</li>
                        <li class="qianer">前二</li>
                        <li class="yixing">一星</li>
                        <li class="daxiaodanshuang">大小单双</li>
                        <li class="renxuaner">任二</li>
                        <li class="renxuansan">任三</li>
                        <li class="renxuansi">任四</li>
                    </ul>
                    <ul class="play-select-content clearfix">
                        <li class="wuxing">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="zuhe">组合</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zuxuan120">组120</dd>
                                <dd class="zuxuan60">组60</dd>
                                <dd class="zuxuan30">组30</dd>
                                <dd class="zuxuan20">组20</dd>
                                <dd class="zuxuan10">组10</dd>
                                <dd class="zuxuan5">组5</dd>
                            </dl>
                            <dl class="budingwei">
                                <dt>不定位：</dt>
                                <dd class="ermabudingwei">二码不定位</dd>
                                <dd class="sanmabudingwei">三码不定位</dd>
                            </dl>
                            <dl class="quwei">
                                <dt>趣&nbsp;&nbsp;&nbsp;味：</dt>
                                <dd class="yifanfengshun">一帆风顺</dd>
                                <dd class="haoshichengshuang">好事成双</dd>
                                <dd class="sanxingbaoxi">三星报喜</dd>
                                <dd class="sijifacai">四季发财</dd>
                            </dl>
                        </li>
                        <li class="sixing">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zuxuan24">组选24</dd>
                                <dd class="zuxuan12">组选12</dd>
                                <dd class="zuxuan6">组选6</dd>
                                <dd class="zuxuan4">组选4</dd>
                            </dl>
                            <dl class="budingwei">
                                <dt>不定位：</dt>
                                <dd class="yimabudingwei">一码不定位</dd>
                                <dd class="ermabudingwei">二码不定位</dd>
                            </dl>
                        </li>
                        <li class="housan current">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi current">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="kuadu">跨度</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zusan">组三</dd>
                                <dd class="zuliu">组六</dd>
                                <dd class="zusandanshi">组三单式</dd>
                                <dd class="zuliudanshi">组六单式</dd>
                                <dd class="hunhezuxuan">混合组选</dd>
                                <dd class="zuxuanhezhi">组选和值</dd>
                                <dd class="zuxuanbaodan">组选包胆</dd>
                            </dl>
                            <dl class="budingwei">
                                <dt>不定位：</dt>
                                <dd class="yimabudingwei">一码不定位</dd>
                                <dd class="ermabudingwei">二码不定位</dd>
                            </dl>
                        </li>
                        <li class="zhongsan">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="kuadu">跨度</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zusan">组三</dd>
                                <dd class="zuliu">组六</dd>
                                <dd class="zusandanshi">组三单式</dd>
                                <dd class="zuliudanshi">组六单式</dd>
                                <dd class="hunhezuxuan">混合组选</dd>
                                <dd class="zuxuanhezhi">组选和值</dd>
                                <dd class="zuxuanbaodan">组选包胆</dd>
                            </dl>
                            <dl class="budingwei">
                                <dt>不定位：</dt>
                                <dd class="yimabudingwei">一码不定位</dd>
                                <dd class="ermabudingwei">二码不定位</dd>
                            </dl>
                        </li>
                        <li class="qiansan">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="kuadu">跨度</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zusan">组三</dd>
                                <dd class="zuliu">组六</dd>
                                <dd class="zusandanshi">组三单式</dd>
                                <dd class="zuliudanshi">组六单式</dd>
                                <dd class="hunhezuxuan">混合组选</dd>
                                <dd class="zuxuanhezhi">组选和值</dd>
                                <dd class="zuxuanbaodan">组选包胆</dd>
                            </dl>
                            <dl class="budingwei">
                                <dt>不定位：</dt>
                                <dd class="yimabudingwei">一码不定位</dd>
                                <dd class="ermabudingwei">二码不定位</dd>
                            </dl>
                        </li>
                        <li class="houer">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="kuadu">跨度</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="baodan">包胆</dd>
                            </dl>
                        </li>
                        <li class="qianer">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="kuadu">跨度</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                                <dd class="baodan">包胆</dd>
                            </dl>
                        </li>
                        <li class="yixing">
                            <dl class="dingweidan">
                                <dt>定位胆：</dt>
                                <dd class="fushi">复式</dd>
                            </dl>
                        </li>
                        <li class="daxiaodanshuang">
                            <dl class="daxiaodanshuangzu">
                                <dt>大小单双：</dt>
                                <dd class="houerdaxiaodanshuang">后二大小单双</dd>
                                <dd class="qianerdaxiaodanshuang">前二大小单双</dd>
                                <dd class="housandaxiaodanshuang">后三大小单双</dd>
                                <dd class="qiansandaxiaodanshuang">前三大小单双</dd>
                            </dl>
                        </li>
                        <li class="renxuaner">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                            </dl>
                        </li>
                        <li class="renxuansan">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                                <dd class="danshi">单式</dd>
                                <dd class="hezhi">和值</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zusan">组三</dd>
                                <dd class="zuliu">组六</dd>
                                <dd class="zusandanshi">组三单式</dd>
                                <dd class="zuliudanshi">组六单式</dd>
                                <dd class="hunhezuxuan">混合组选</dd>
                                <dd class="zuxuanhezhi">组选和值</dd>
                            </dl>
                        </li>
                        <li class="renxuansi">
                            <dl class="zhixuan">
                                <dt>直&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="fushi">复式</dd>
                            </dl>
                            <dl class="zuxuan">
                                <dt>组&nbsp;&nbsp;&nbsp;选：</dt>
                                <dd class="zuxuan24">组选24</dd>
                                <dd class="zuxuan12">组选12</dd>
                                <dd class="zuxuan6">组选6</dd>
                                <dd class="zuxuan4">组选4</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <!-- <div class="prompt">
                    <i class="icon-question"></i>
                    <span class="method-tip">&nbsp;玩法提示：从三位各选1个或多个号码，选号与开奖号后三位按位一致即中1700元。</span>
                    <a class="example-button" href="javascript:void(0);">选号示例</a>
                    <div class="example-tip"></div>
                </div> -->
            </div>
            <div id="J-balls-main-panel">
                <div style="display: block;">
                    <div class="number-select-title balls-type-title clearfix">
                        <ul class="function-select-title game-frequency-type">
                            <li class="lost current" data-type="lost">遗漏</li>
                            <li class="fre" data-type="fre">冷热</li>
                        </ul>
                        <ul class="function-select-content">
                            <li class="game-frequency-lost-length"><a href="javascript:void(0);" data-type="currentFre"
                                                                      class="periodcurrentFre current">当前遗漏</a><a
                                    data-type="maxFre" href="javascript:void(0);" class="periodmaxFre">最大遗漏</a></li>
                            <li style="display:none" class="game-frequency-fre-length"><a href="javascript:void(0);"
                                                                                          data-type="30"
                                                                                          class="period30">30期</a><a
                                    href="javascript:void(0);" data-type="60" class="period60">60期</a><a
                                    href="javascript:void(0);" data-type="100" class="period100">100期</a></li>
                        </ul>
                    </div>
                    <div class="number-select-content">
                        <ul class="ball-section">
                            <li>
                                <div class="ball-title"><strong>百位</strong><span>当前遗漏</span></div>
                                <ul class="ball-content">
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=0&amp;row=0"
                                           class=" ball-number ">0</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=1&amp;row=0"
                                           class=" ball-number ">1</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=2&amp;row=0"
                                           class=" ball-number ">2</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=3&amp;row=0"
                                           class=" ball-number ">3</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=4&amp;row=0"
                                           class=" ball-number ">4</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=5&amp;row=0"
                                           class=" ball-number ">5</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=6&amp;row=0"
                                           class=" ball-number ">6</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=7&amp;row=0"
                                           class=" ball-number ">7</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=8&amp;row=0"
                                           class=" ball-number ">8</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=9&amp;row=0"
                                           class=" ball-number ">9</a><span class="ball-aid-hot">0</span></li>
                                </ul>
                                <div class="ball-control"><a data-param="action=batchSetBall&amp;row=0&amp;bound=all"
                                                             href="javascript:void(0);">全</a><a
                                        data-param="action=batchSetBall&amp;row=0&amp;bound=big"
                                        href="javascript:void(0);">大</a><a
                                        data-param="action=batchSetBall&amp;row=0&amp;bound=small"
                                        href="javascript:void(0);">小</a><a
                                        data-param="action=batchSetBall&amp;row=0&amp;bound=odd"
                                        href="javascript:void(0);">奇</a><a
                                        data-param="action=batchSetBall&amp;row=0&amp;bound=even"
                                        href="javascript:void(0);">偶</a><a
                                        data-param="action=batchSetBall&amp;row=0&amp;bound=none"
                                        href="javascript:void(0);">清</a></div>
                            </li>
                            <li>
                                <div class="ball-title"><strong>十位</strong><span>当前遗漏</span></div>
                                <ul class="ball-content">
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=0&amp;row=1"
                                           class=" ball-number ">0</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=1&amp;row=1"
                                           class=" ball-number ">1</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=2&amp;row=1"
                                           class=" ball-number ">2</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=3&amp;row=1"
                                           class=" ball-number ">3</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=4&amp;row=1"
                                           class=" ball-number ">4</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=5&amp;row=1"
                                           class=" ball-number ">5</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=6&amp;row=1"
                                           class=" ball-number ">6</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=7&amp;row=1"
                                           class=" ball-number ">7</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=8&amp;row=1"
                                           class=" ball-number ">8</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=9&amp;row=1"
                                           class=" ball-number ">9</a><span class="ball-aid-hot">0</span></li>
                                </ul>
                                <div class="ball-control"><a data-param="action=batchSetBall&amp;row=1&amp;bound=all"
                                                             href="javascript:void(0);">全</a><a
                                        data-param="action=batchSetBall&amp;row=1&amp;bound=big"
                                        href="javascript:void(0);">大</a><a
                                        data-param="action=batchSetBall&amp;row=1&amp;bound=small"
                                        href="javascript:void(0);">小</a><a
                                        data-param="action=batchSetBall&amp;row=1&amp;bound=odd"
                                        href="javascript:void(0);">奇</a><a
                                        data-param="action=batchSetBall&amp;row=1&amp;bound=even"
                                        href="javascript:void(0);">偶</a><a
                                        data-param="action=batchSetBall&amp;row=1&amp;bound=none"
                                        href="javascript:void(0);">清</a></div>
                            </li>
                            <li>
                                <div class="ball-title"><strong>个位</strong><span>当前遗漏</span></div>
                                <ul class="ball-content">
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=0&amp;row=2"
                                           class=" ball-number ">0</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=1&amp;row=2"
                                           class=" ball-number ">1</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=2&amp;row=2"
                                           class=" ball-number ">2</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=3&amp;row=2"
                                           class=" ball-number ">3</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=4&amp;row=2"
                                           class=" ball-number ">4</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=5&amp;row=2"
                                           class=" ball-number ">5</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=6&amp;row=2"
                                           class=" ball-number ">6</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=7&amp;row=2"
                                           class=" ball-number ">7</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=8&amp;row=2"
                                           class=" ball-number ">8</a><span class="ball-aid-hot">0</span></li>
                                    <li><a href="javascript:void(0);" data-param="action=ball&amp;value=9&amp;row=2"
                                           class=" ball-number ">9</a><span class="ball-aid-hot">0</span></li>
                                </ul>
                                <div class="ball-control"><a data-param="action=batchSetBall&amp;row=2&amp;bound=all"
                                                             href="javascript:void(0);">全</a><a
                                        data-param="action=batchSetBall&amp;row=2&amp;bound=big"
                                        href="javascript:void(0);">大</a><a
                                        data-param="action=batchSetBall&amp;row=2&amp;bound=small"
                                        href="javascript:void(0);">小</a><a
                                        data-param="action=batchSetBall&amp;row=2&amp;bound=odd"
                                        href="javascript:void(0);">奇</a><a
                                        data-param="action=batchSetBall&amp;row=2&amp;bound=even"
                                        href="javascript:void(0);">偶</a><a
                                        data-param="action=batchSetBall&amp;row=2&amp;bound=none"
                                        href="javascript:void(0);">清</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 走势图开始 -->
        <div class="chart-section" style="display:none" id="J-game-chart">
        </div>
        <!-- 走势图结束 -->
        <!-- 选球统计开始 -->
        <div class="number-section ball-panel">
            <div id="J-balls-main-panel"></div>
            <div id="J-balls-statistics-panel">
                <ul class="bet-statistics">
                    <!-- <li class="multiple-limit">倍数限额：<em id="J-balls-statistics-multipleLimit">无限制</em></li> -->
                    <li class="choose-bet">你选择了<em id="J-balls-statistics-lotteryNum">0</em>注，</li>
                    <!--
                    <li class="choose-multiple">
                        <div class="choose-list" style="display:none;">
                            <a href="javascript:void(0);">1倍</a>
                            <a href="javascript:void(0);">5倍</a>
                            <a href="javascript:void(0);">10倍</a>
                            <a href="javascript:void(0);">15倍</a>
                        </div>
                        <input type="text" value="8000" class="input" /><i></i><span class="text">倍，</span>
                    </li>
                    -->
                    <span id="J-balls-statistics-multiple-text" style="display:none;">1</span>

                    <div class="choose-model ui-simulation-select">
                        <div class="choose-list" style="display:none;"><a data-value="1"
                                                                          href="javascript:void(0);">1</a><a
                                data-value="5" href="javascript:void(0);">5</a><a data-value="10"
                                                                                  href="javascript:void(0);">10</a><a
                                data-value="15" href="javascript:void(0);">15</a></div>
                        <span class="info"><input data-realvalue="1" class="choose-input" type="text"
                                                  value="1"></span><i></i></div>
                    <select id="J-balls-statistics-multiple" class="J-ui-select" style="display: none;">
                        <option value="1" selected="selected">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    倍
                    &nbsp;&nbsp;


                    <div class="choose-model ui-simulation-select">
                        <div class="choose-list" style="display:none;"><a data-value="1"
                                                                          href="javascript:void(0);">元</a><a
                                data-value="0.1" href="javascript:void(0);">角</a><a data-value="0.01"
                                                                                    href="javascript:void(0);">分</a>
                        </div>
                        <span class="info"><input data-realvalue="1" class="choose-input" disabled="disabled"
                                                  type="text" value="元"></span><i></i></div>
                    <select id="J-balls-statistics-moneyUnit" class="J-ui-select" style="display: none;">
                        <option value="1" selected="selected">元</option>
                        <option value="0.1">角</option>
                        <option value="0.01">分</option>
                    </select>
                    投注模式
                    <select name="orderRebateType" id="orderRebateType">
                        <option value="1800-7.5">1800-7.5%</option>
                        <option value="1950-0.0">1950-0.0%</option>
                    </select>
                    <!--
                    <li class="choose-model">
                        <div class="choose-list ">
                            <a href="javascript:void(0);">角</a>
                            <a href="javascript:void(0);">元</a>
                        </div>
                        <span class="info">角</span><i></i><span class="text">模式</span>
                    </li>
                    -->

                    <li class="total-money">共<strong class="price" id="J-balls-statistics-amount">0.00</strong>元</li>
                </ul>
                <div class="choose-btn"><input type="button" value="选好了" id="J-add-order" class=""></div>
            </div>
        </div>
        <!--select panel-->
        <div class="order-info clearfix">
            <div class="new-order">
                <div class="title-name clearfix">
                    <h4>最新投注</h4>
                    <a href="/usercenter/bet.jsp" class="more">查看更多&gt;</a>
                </div>
                <ul class="clearfix ball-info jspScrollable" id="program-chase-table_order" tabindex="0"
                    style="overflow: hidden; padding: 0px; width: 355px;">
                    <div class="jspContainer" style="width: 355px; height: 200px;">
                        <div class="jspPane" style="padding: 0px; width: 343px; top: 0px;">
                            <li onclick="showOrderDetail('0201502564358691246180')">
                                <span>160709059期</span><span>50</span> <span>等待开奖</span></li>
                            <li onclick="showOrderDetail('0201834260029461582744')">
                                <span>160707069期</span><span>20</span> <span><font color="red">中奖</font></span></li>
                            <li onclick="showOrderDetail('0201737996937869577792')">
                                <span>160707053期</span><span>10</span> <span><font color="red">中奖</font></span></li>
                            <li onclick="showOrderDetail('0201916359289706696579')">
                                <span>160706060期</span><span>10</span> <span><font color="red">中奖</font></span></li>
                            <li onclick="showOrderDetail('0201758006975966191722')">
                                <span>160706034期</span><span>16</span> <span>未中奖</span></li>
                            <li onclick="showOrderDetail('0201070458360858914851')">
                                <span>160705063期</span><span>250</span> <span><font color="red">中奖</font></span></li>
                            <li onclick="showOrderDetail('0201070087376812127348')">
                                <span>160705063期</span><span>50</span> <span><font color="red">中奖</font></span></li>
                            <li onclick="showOrderDetail('0201885894595467446758')">
                                <span>160628040期</span><span>0.02</span> <span>未中奖</span></li>
                            <li onclick="showOrderDetail('0201885706254762679485')">
                                <span>160628040期</span><span>0.02</span> <span>未中奖</span></li>
                            <li onclick="showOrderDetail('0201211049108088711349')">
                                <span>160625026期</span><span>0.2</span> <span><font color="red">中奖</font></span></li>
                        </div>
                        <div class="jspVerticalBar">
                            <div class="jspCap jspCapTop"></div>
                            <div class="jspTrack" style="height: 200px;">
                                <div class="jspDrag" style="height: 134px;">
                                    <div class="jspDragTop"></div>
                                    <div class="jspDragBottom"></div>
                                </div>
                            </div>
                            <div class="jspCap jspCapBottom"></div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="order-area">
                <div class="title-area clearfix">
                    <div class="control-button">
                        <a href="javascript:void(0)" class="btn btn-default" id="randomone">
                            <span>1</span>
                            机选1注
                        </a>
                        <a href="javascript:void(0)" class="btn btn-default" id="randomfive">
                            <span>5</span>
                            机选5注
                        </a>
                    </div>
                </div>
                <div class="panel-select">
                    <ul class="order-list clearfix" id="J-balls-order-container">
                    </ul>
                </div>
            </div>
            <!---->
        </div>
        <div class="gather clearfix">
            <span></span>
            <span class="data-gather">方案注数 <em id="J-gameOrder-lotterys-num">0</em> 注, 金额 <em id="J-gameOrder-amount">0.00</em> 元</span>

            <div class="control-button">
                <input type="checkbox" name="check" value="divShow" id="J-trace-switch"> <label
                    for="choose-button">追号</label>
                <a href="#" class="btn btn-important" id="J-submit-order">
                    马上投注
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div id="J-trace-panel" style="display:none;">
            <div class="chase-tab">
                <div class="chase-tab-title clearfix">
                    <ul>
                        <li class="chase-tab-t current">普通追号</li>
                        <li class="chase-tab-t" style="display:none;">高级追号</li>
                    </ul>

                    <div id="J-trace-iswinstop-panel" class="chase-stop" style="display:none;">
                        <label class="label" for="J-trace-iswinstop"><input id="J-trace-iswinstop" type="checkbox"
                                                                            class="checkbox">累计盈利</label>&gt;<input
                            id="J-trace-iswinstop-money" type="text" class="input" value="1000">元时停止追号&nbsp;
                        <i class="icon-question" id="J-trace-iswinstop-hover">
                            <div id="chase-stop-tip-2" class="chase-stop-tip">
                                当追号计划中，累计盈利金额（已获奖金扣除已投本金）大于设定值时，即停止继续追号。<br>
                                如果您不考虑追号的盈利情况，<a href="#" id="J-chase-stop-switch-2">点这里</a>。
                            </div>
                        </i>

                    </div>
                    <div id="J-trace-iswintimesstop-panel" class="chase-stop" style="display:none;">
                        <label class="label"><input id="J-trace-iswintimesstop" type="checkbox" class="checkbox">中奖后停止追号</label><input
                            style="display:none;" id="J-trace-iswintimesstop-times" type="text" class="input"
                            disabled="disabled" value="1">&nbsp;
                        <i class="icon-question" id="J-trace-iswintimesstop-hover">
                            <div id="chase-stop-tip-1" class="chase-stop-tip">
                                当追号计划中，一个方案内的任意注单中奖时，即停止继续追号。<br>
                                如果您希望考虑追号的实际盈利，<a href="#" id="J-chase-stop-switch-1">点这里</a>。
                            </div>
                        </i>

                    </div>
                </div>


                <div class="chase-tab-content chase-tab-content-current">
                    <ul class="chase-select-normal clearfix">
                        <li id="J-function-select-tab">
                            连续追：
                            <ul class="function-select-title">
                                <li>5期</li>
                                <li class="current">10期</li>
                                <li>15期</li>
                                <li>20期</li>
                            </ul>
                            <ul class="function-select-panel" style="display:none;">
                                <li></li>
                                <li class="panel-current"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </li>
                        <li>
                            <input id="J-trace-normal-times" type="text" class="input" value="10">&nbsp;&nbsp;期
                        </li>
                        <li>
                            倍数：
                            <div class="choose-model ui-simulation-select">
                                <div class="choose-list" style="display:none;"><a data-value="1"
                                                                                  href="javascript:void(0);">1</a><a
                                        data-value="5" href="javascript:void(0);">5</a><a data-value="10"
                                                                                          href="javascript:void(0);">10</a><a
                                        data-value="15" href="javascript:void(0);">15</a><a data-value="20"
                                                                                            href="javascript:void(0);">20</a><a
                                        data-value="30" href="javascript:void(0);">30</a><a data-value="50"
                                                                                            href="javascript:void(0);">50</a>
                                </div>
                                <span class="info"><input data-realvalue="1" class="choose-input" type="text" value="1"></span><i></i>
                            </div>
                            <select id="J-trace-normal-multiple" style="display:none;">
                                <option>1</option>
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>30</option>
                                <option>50</option>
                            </select>
                        </li>
                    </ul>

                    <div class="chase-table-container">
                        <table id="J-trace-table" class="chase-table">
                            <tbody id="J-trace-table-body">
                            <tr>
                                <td style="width:125px;" class="text-center">序号</td>
                                <td><label class="label"><input type="checkbox" class="checkbox">追号期次</label></td>
                                <td>倍数</td>
                                <td>金额</td>
                                <td>预计开奖时间</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="chase-tab-content">
                    <div class="chase-select-high">
                        <div class="title">基本参数</div>
                        <ul class="base-parameter">
                            <li>
                                起始期号：

                                <div class="choose-model chase-trace-startNumber-select">
                                    <div class="choose-list" style="display:none;"><a data-value="160709059"
                                                                                      href="javascript:void(0);">160709059(当前期)</a><a
                                            data-value="160709060" href="javascript:void(0);">160709060</a><a
                                            data-value="160709061" href="javascript:void(0);">160709061</a><a
                                            data-value="160709062" href="javascript:void(0);">160709062</a><a
                                            data-value="160709063" href="javascript:void(0);">160709063</a><a
                                            data-value="160709064" href="javascript:void(0);">160709064</a><a
                                            data-value="160709065" href="javascript:void(0);">160709065</a><a
                                            data-value="160709066" href="javascript:void(0);">160709066</a><a
                                            data-value="160709067" href="javascript:void(0);">160709067</a><a
                                            data-value="160709068" href="javascript:void(0);">160709068</a><a
                                            data-value="160709069" href="javascript:void(0);">160709069</a><a
                                            data-value="160709070" href="javascript:void(0);">160709070</a><a
                                            data-value="160709071" href="javascript:void(0);">160709071</a><a
                                            data-value="160709072" href="javascript:void(0);">160709072</a><a
                                            data-value="160709073" href="javascript:void(0);">160709073</a><a
                                            data-value="160709074" href="javascript:void(0);">160709074</a><a
                                            data-value="160709075" href="javascript:void(0);">160709075</a><a
                                            data-value="160709076" href="javascript:void(0);">160709076</a><a
                                            data-value="160709077" href="javascript:void(0);">160709077</a><a
                                            data-value="160709078" href="javascript:void(0);">160709078</a><a
                                            data-value="160709079" href="javascript:void(0);">160709079</a></div>
                                    <span class="info"><input data-realvalue="160709059" class="choose-input"
                                                              disabled="disabled" type="text"
                                                              value="160709059(当前期)"></span><i></i></div>
                                <select id="J-traceStartNumber" style="display:none;">
                                    <option value="160709059" selected="selected">160709059(当前期)</option>
                                    <option value="160709060">160709060</option>
                                    <option value="160709061">160709061</option>
                                    <option value="160709062">160709062</option>
                                    <option value="160709063">160709063</option>
                                    <option value="160709064">160709064</option>
                                    <option value="160709065">160709065</option>
                                    <option value="160709066">160709066</option>
                                    <option value="160709067">160709067</option>
                                    <option value="160709068">160709068</option>
                                    <option value="160709069">160709069</option>
                                    <option value="160709070">160709070</option>
                                    <option value="160709071">160709071</option>
                                    <option value="160709072">160709072</option>
                                    <option value="160709073">160709073</option>
                                    <option value="160709074">160709074</option>
                                    <option value="160709075">160709075</option>
                                    <option value="160709076">160709076</option>
                                    <option value="160709077">160709077</option>
                                    <option value="160709078">160709078</option>
                                    <option value="160709079">160709079</option>
                                </select>

                            </li>
                            <li>
                                追号期数：
                                <input id="J-trace-advanced-times" type="text" class="input" value="10">&nbsp;&nbsp;期（最多可以追<span
                                    id="J-trace-number-max">21</span>期）
                            </li>
                            <li>
                                起始倍数：
                                <input id="J-trace-advance-multiple" type="text" class="input" value="1">&nbsp;&nbsp;倍
                            </li>
                        </ul>

                        <div class="title">高级参数</div>
                        <div id="J-trace-advanced-type-panel" class="high-parameter">
                            <ul class="tab-title">
                                <li class="current">翻倍追号</li>
                                <li>盈利金额追号</li>
                                <li>盈利率追号</li>
                            </ul>
                            <ul class="tab-content">
                                <li class="panel-current">
                                    <p data-type="a">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type1" checked="checked">
                                        每隔&nbsp;<input id="J-trace-advanced-fanbei-a-jiange" type="text" class="input"
                                                       value="2">&nbsp;期
                                        倍数x<input id="J-trace-advanced-fanbei-a-multiple" type="text"
                                                  class="input trace-input-multiple" value="2">
                                    </p>

                                    <p data-type="b">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type1">
                                        前&nbsp;<input id="J-trace-advanced-fanbei-b-num" type="text" class="input"
                                                      value="5" disabled="disabled">&nbsp;期
                                        倍数=起始倍数，之后倍数=<input id="J-trace-advanced-fanbei-b-multiple" type="text"
                                                            class="input trace-input-multiple" value="3"
                                                            disabled="disabled">
                                    </p>
                                </li>
                                <li>
                                    <p data-type="a">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type2" checked="checked">
                                        预期盈利金额≥&nbsp;<input id="J-trace-advanced-yingli-a-money" type="text"
                                                            class="input" value="100">&nbsp;元
                                    </p>

                                    <p data-type="b">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type2">
                                        前&nbsp;<input id="J-trace-advanced-yingli-b-num" type="text" class="input"
                                                      value="2" disabled="disabled">&nbsp;期
                                        预期盈利金额≥&nbsp;<input id="J-trace-advanced-yingli-b-money1" type="text"
                                                            class="input" value="100" disabled="disabled">&nbsp;元，之后预期盈利金额≥&nbsp;<input
                                            id="J-trace-advanced-yingli-b-money2" type="text" class="input" value="50"
                                            disabled="disabled">&nbsp;元
                                    </p>
                                </li>
                                <li>
                                    <p data-type="a">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type3" checked="checked">
                                        预期盈利率≥&nbsp;<input id="J-trace-advanced-yinglilv-a" type="text" class="input"
                                                           value="10">&nbsp;%
                                    </p>

                                    <p data-type="b">
                                        <input class="trace-advanced-type-switch" type="radio"
                                               name="trace-advanced-type3">
                                        前&nbsp;<input id="J-trace-advanced-yinglilv-b-num" type="text" class="input"
                                                      value="5" disabled="disabled">&nbsp;期
                                        预期盈利率≥&nbsp;<input id="J-trace-advanced-yingli-b-yinglilv1" type="text"
                                                           class="input" value="30" disabled="disabled">&nbsp;%，之后预期盈利率≥&nbsp;<input
                                            id="J-trace-advanced-yingli-b-yinglilv2" disabled="disabled" type="text"
                                            class="input" value="10">&nbsp;%
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chase-btn">
                        <input id="J-trace-builddetail" type="button" value="生成追号计划">
                    </div>


                    <div class="chase-table-container">
                        <table id="J-trace-table-advanced" class="chase-table" border="0" cellspacing="1"
                               cellpadding="0">
                            <tbody id="J-trace-table-advanced-body">
                            <tr>
                                <td style="width:125px;" class="text-center">序号</td>
                                <td><label class="label"><input type="checkbox" class="checkbox">追号期次</label></td>
                                <td>倍数</td>
                                <td>金额</td>
                                <td>预计开奖时间</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


            <ul class="bet-statistics">
                <li>共追号 <span id="J-trace-statistics-times">0</span> 期，<em><span
                        id="J-trace-statistics-lotterys-num">0</span> </em>注，
                </li>
                <li>总投注金额 <strong class="price"><dfn>¥</dfn><span id="J-trace-statistics-amount">0.00</span></strong> 元
                </li>
            </ul>

        </div>
    </div>

    <!-- 实例类 -->
    <script type="text/javascript" src="/cp/js/SSC/yule.Games.SSC.js"></script>
    <script type="text/javascript" src="/cp/js/SSC/yule.Games.SSC.Config.js"></script>
    <script type="text/javascript" src="/cp/js/SSC/yule.Games.SSC.Message.js"></script>
    <!-- 单例类 -->
    <script type="text/javascript" src="/cp/js/yule.GameTypes.js"></script>
    <script type="text/javascript" src="/cp/js/yule.GameStatistics.js"></script>
    <script type="text/javascript" src="/cp/js/yule.GameOrder.js"></script>
    <script type="text/javascript" src="/cp/js/yule.GameTrace.js"></script>
    <script type="text/javascript" src="/cp/js/yule.GameSubmit.js"></script>
    <!-- 额外的单式父类 -->
    <script type="text/javascript" src="/cp/js/SSC/yule.Games.SSC.Danshi.js"></script>
</div>
<div class="com_fixed" id="loading_div">
    <div class="com_fbg"></div>
    <div class="com_fcnt">
        <div class="com_fld"><img src="/images/loading49.gif"></div>
        <div class="com_txt" id="loading_txt"></div>
    </div>
</div>
<div class="bottom layout clearfix">
    <p>© 2016 博广娱乐版权所有 尊享欧亚双重博彩牌照认证</p>
</div>

<div class="com_fixed"></div>


<script language="javascript">
    //顶部用户信息
    var lcode = '006';
    (function () {


        var init = function (config) {
            //游戏公共访问对象
            var Games = yule.Games;
            //游戏实例
            if (lcode == "006" || lcode == "007" || lcode == "010" || lcode == "011" || lcode == "012" || lcode == "110" || lcode == "111" || lcode == "113") {
                yule.Games.SSC.getInstance();
                yule.Games.SSC.Message.getInstance();
            }
            if (lcode == "107" || lcode == "109" || lcode == "112") {
                yule.Games.N115.getInstance();
                yule.Games.N115.Message.getInstance();
            }
            if (lcode == "002" || lcode == "108" || lcode == "008" || lcode == "009") {
                yule.Games.FC3D.getInstance();
                yule.Games.FC3D.Message.getInstance();
            }
            //游戏玩法切换
            yule.GameTypes.getInstance();
            //统计实例
            yule.GameStatistics.getInstance();
            //号码篮实例
            yule.GameOrder.getInstance();
            //追号实例
            yule.GameTrace.getInstance();
            //提交
            yule.GameSubmit.getInstance();
            //消息类


            //服务器端输出的游戏配置
            var serverConfig = config;

            //设置配置
            Games.getCurrentGame().setDynamicConfig(serverConfig);
            //当最新的配置信息和新的开奖号码出现后，进行界面更新
            Games.getCurrentGame().addEvent('changeDynamicConfig', function (e, cfg) {
                var lastballs = cfg['lastballs'].split(',');
                //当前期号
                $('#J-lotter-info-number').text(cfg['number']);
                //上期期号
                $('#J-lotter-info-lastnumber').text(cfg['lastnumber']);
                //上期开奖号码
                $('#J-lotter-info-balls').find('li').each(function (i) {
                    this.innerHTML = lastballs[i];
                });


                //重新启动/更新新一轮定时器
                topTimer.setStartTime(new Date(cfg['nowtime']));
                topTimer.setEndTime(new Date(cfg['nowstoptime']));
                topTimer.continueCount();

            });

            //顶部倒计时
            var topTimer = new yule.CountDown({
                //结束时间
                'endTime': Games.getCurrentGame().getDynamicConfig()['nowstoptime'],
                //开始时间
                'startTime': Games.getCurrentGame().getDynamicConfig()['nowtime'],
                //是否需要循环计时
                'isLoop': false,
                //需要渲染的DOM结构
                'showDom': '.deadline-number',
                expands: {
                    //覆盖showTime渲染方法
                    _showTime: function (time) {
                        var me = this,
                                dom = $(me.defConfig.showDom),
                                h = '' + me.checkNum(time.h),
                                m = '' + me.checkNum(time.m),
                                s = '' + me.checkNum(time.s);
                        //渲染时间输出
                        $('.hour').text(h);
                        $('.min').text(m);
                        $('.sec').text(s);
                        if (time.allSecond <= 0) {
                            console.log("nowstoptime " + me.getEndTime() + " startTime " + me.getStartTime());
                            console.log("foot--error " + time.allSecond);
                        }
                        me.fireEvent('afterShowTime', time, me);
                    }
                }
            });

            //倒计时提示
            (function () {
                var countDownDom = $('.countdown'),
                        arrowwidth = countDownDom.find('a').width(),
                        headerLeft = $('.lottery-list').offset().left,
                        headerHeight = $('.lottery-list').offset().top,
                        timeoutSave = null;

                countDownDom.css('right', headerLeft - arrowwidth);

                $(window).scroll(function (event) {
                    if (timeoutSave) {
                        clearTimeout(timeoutSave);
                        timeoutSave = null;
                    }
                    timeoutSave = setTimeout(function () {
                        arrowwidth = countDownDom.find('a').width(),
                                headerLeft = $('.gamehead').offset().left,
                                headerHeight = $('.gamehead').offset().top;

                        if ($(window).scrollTop() > headerHeight) {
                            countDownDom.show();
                        } else {
                            countDownDom.hide();
                            if (!countDownDom.hasClass('countdown-current')) {
                                countDownDom.addClass('countdown-current');
                            }
                        }
                    }, 30);
                });

                countDownDom.find('a').bind('click', function () {
                    if (countDownDom.hasClass('countdown-current')) {
                        countDownDom.removeClass('countdown-current');
                    } else {
                        countDownDom.addClass('countdown-current');
                    }
                });

                topTimer.addEvent('afterShowTime', function (e, time, me) {
                    if (lcode == "002" || lcode == "108") {
                        var h = '' + me.checkNum(time.h),
                                m = '' + me.checkNum(time.m),
                                s = '' + me.checkNum(time.s);

                        countDownDom.find('strong').html(h + ':' + m + ':' + s);
                    } else {
                        var m = me.checkNum(time.m) + '',
                                s = me.checkNum(time.s) + '';
                        countDownDom.find('strong').html(m + ':' + s);
                    }
                });
            })();

            topTimer.addEvent('afterTimeFinish', function () {
                //定时器结束，当前期结束
                //请求下一期时间
                //console.log('结束了');
                $("#J-lottery-info-number").html("<font color=green>读取中...</font>");
                setTimeout(function () {
                    Games.getCurrentGame().getServerDynamicConfig(function () {
                    });
                }, 1000);

            });


            //默认加载五星直选复式
            Games.getCurrentGameTypes().addEvent('endShow', function () {
                var a = function () {

                    //格式化URL参数
                    Games.getCurrentGame().parseDataFormUrl();
                    Games.getCurrentGame().removeEvent('afterSwitchGameMethod', a);
                };
                Games.getCurrentGame().addEvent('afterSwitchGameMethod', a);
                //this.changeMode('housan.zhixuan.fushi');
                this.changeMode(Games.getCurrentGame().getGameConfig().getInstance().getDefaultMethod());
            });


            //玩法说明和示例
            $('.prompt').on('mouseenter', '.example-button', function () {
                $('.example-tip').css({
                    top: $(this).position().top - 5,
                    left: $(this).position().left + $(this).width() + 5
                }).show();
            }).on('mouseleave', '.example-button', function () {
                $('.example-tip').hide();
            });


            //将选球数据添加到号码篮
            $('#J-add-order').click(function () {
                Games.getCurrentGameOrder().add(Games.getCurrentGameStatistics().getResultData());
            });
            //机选一注
            $('#randomone').click(function () {
                Games.getCurrentGame().getCurrentGameMethod().randomLotterys(1);
            });
            //机选五注
            $('#randomfive').click(function () {
                Games.getCurrentGame().getCurrentGameMethod().randomLotterys(5);
            });

            //清空号码篮
            $('#restdata').click(function () {
                Games.getCurrentGameOrder().reSet().cancelSelectOrder();
                Games.getCurrentGame().getCurrentGameMethod().reSet();
            });


            //单式上传的删除、去重、清除功能
            $('body').on('click', '.remove-error', function () {
                Games.getCurrentGame().getCurrentGameMethod().removeOrderError();
            }).on('click', '.remove-same', function () {
                Games.getCurrentGame().getCurrentGameMethod().removeOrderSame();
            }).on('click', '.remove-all', function () {
                Games.getCurrentGame().getCurrentGameMethod().removeOrderAll();
            });


            //投注按钮操作
            $('body').on('click', '#J-submit-order', function () {
                Games.getCurrentGameSubmit().submitData();
            });

        };

        $.ajax({
            url: '/cp/pages/LotteryLimit.action?lotteryCode=006',
            dataType: 'json',
            cache: false,
            success: function (data) {
                if (Number(data['isSuccess']) == 1) {
                    init(data['data']);
                } else {
                    alert('初始化信息加载失败，请刷新重试');
                }
            },
            error: function (xhr, type) {
                //alert(type);
            }
        });

    })();


    function refreshOrder() {
        $.ajax({
            url: '/cp/pages/OrderQuery.action?lotteryCode=006',
            dataType: 'json',
            cache: false,
            success: function (data) {
                if (Number(data['isSuccess']) == 1) {
                    var Orders = data['data']['Orders'];
                    var AutoOrders = data['data']['AutoOrders'];
                    if (Orders != null && Orders != undefined) {
                        $("#program-chase-table_order").html("");
                        $.each(Orders, function (i, item) {
                            if (item.type == 0) {
                                var statusStr;
                                if (item.status == 0) {
                                    statusStr = "等待开奖";
                                } else if (item.status == 1) {
                                    statusStr = "未中奖";
                                } else if (item.status == 2) {
                                    statusStr = "<font color=red>中奖</font>";
                                } else if (item.status == 3) {
                                    statusStr = "已撤单";
                                }
                                $("#program-chase-table_order").append("<li onclick=\"showOrderDetail('" + item.orderNo + "')\"><span>" + item.issue + "期</span><span>" + item.amount + "</span> <span>" + statusStr + "</span></li>");
                            } else {
                                var statusStr;
                                if (item.status == 0) {
                                    statusStr = "追号中";
                                } else if (item.status == 1) {
                                    statusStr = "已停追";
                                } else if (item.status == 2) {
                                    statusStr = "已完成";
                                }
                                $("#program-chase-table_order").append("<li onclick=\"showAutoOrderDetail('" + item.orderNo + "')\"><span>" + item.issue + "期</span><span>" + item.amount + "</span> <span>" + statusStr + "</span></li>");

                            }
                        });

                    }
                    setTimeout(function () {
                        $('#program-chase-table_order').jScrollPane({});
                    }, 200);
                    //滚动条

                } else {
                    //alert('初始化信息加载失败，请刷新重试');
                }
            },
            error: function (xhr, type) {
                //alert(type);
            }
        });
    }
    window.onload = setTimeout(function () {
        getBNumberList();
    });
    var bNumber = 0;
    function getBNumberList() {

        var myDate = new Date();
        var nowDate = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + myDate.getDate();
        if (lcode == "002" || lcode == "108") {
            nowDate = "";
        }
        $.ajax({
            url: '/cp/pages/OrderQueryCenter.action?do=bonusNumber&lotteryCode=006&date=' + nowDate,
            dataType: 'json',
            cache: false,
            success: function (data) {
                if (Number(data['isSuccess']) == 1) {
                    var html = [''].join('');
                    var bonusNumbers = data['data'];
                    if (bonusNumbers != null && bonusNumbers != undefined) {
                        $.each(bonusNumbers, function (i, item) {
                            if (i == 0) {
                                /**
                                 <span class="period">0871期</span>
                                 <span class="num">0,0,1,7,9</span>
                                 */
                                bNumber = Number(item.issue);
                                html += '<li  id=\"lastBN\" ><span class="period">';
                                html += item.issue + '-</span>';
                                html += '<span class=\"num\">' + item.bonusNumber;
                                html += '</span></li>';
                            } else {
                                bNumber = Number(item.issue);
                                html += '<li><span class="period">';
                                html += item.issue + '-</span>';
                                html += '<span class=\"num\">' + item.bonusNumber;
                                html += '</span></li>';
                            }
                        });
                        $('#lottery-history-list').html(html);
                    }

                } else {
                    alert('初始化信息加载失败，请刷新重试');
                }
            },
            error: function (xhr, type) {
                //alert(type);
            }
        });

    }

    var t;
    function updateBonusNumber() {
        clearTimeout(t);
        var nowNumber = Number($("#J-lottery-info-number").html());
        var lastNumber = Number($("#J-lottery-info-lastnumber").html());
        if (nowNumber - lastNumber > 1) {
            var flag = false;
            var minues = Number($("#minutes").html());
            var second = Number($("#sec1").html());
            second += Number($("#sec2").html()) * 10;
            if (lcode == "006" || lcode == "007" || lcode == "110" || lcode == "111" || lcode == "107" || lcode == "109" || lcode == "112") {
                var myDate = new Date();
                var hours1 = myDate.getHours();
                //console.log("hours:"+hours1);
                if (lcode == "006" && (hours1 >= 22 || hours1 <= 2)) {
                    // console.log("hours:10 after");
                    if (minues <= 3) {
                        flag = true;
                    }
                } else {
                    //console.log("hours:10 before");
                    if (minues > 5 && minues <= 7) {
                        flag = true;
                    }
                }
            }
            if (lcode == "010") {
                if (second > 5 && second < 45) {
                    flag = true;
                }
            }
            if (lcode == "011") {
                if (second > 5 && second < 45) {
                    flag = true;
                }
            }
            if (lcode == "012") {
                if (second > 5 && second < 50) {
                    flag = true;
                }
            }
            if (flag) {
                $.ajax({
                    url: '/cp/pages/OrderQueryCenter.action?do=bonusNumber&lotteryCode=006&autoUpdate=true',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        if (Number(data['isSuccess']) == 1) {
                            var dataArray = data['data'];
                            var lastballs = dataArray[0].bonusNumber.split(",");
                            $('#J-lottery-info-balls').find('li').each(function (i) {
                                this.innerHTML = lastballs[i];
                            });
                            $("#J-lottery-info-lastnumber").html(dataArray[0].issue);
                            bNumber = Number(dataArray[0].issue);
                            if (checkRepreat(dataArray[0].issue)) {
                                setTimeout("refreshOrder()", 8000);
                                var html = '<li id=\"lastBN\">';
                                html += '<div class=\"left\" class=\"period\">第<span class=\"period\">' + bNumber + '</span>期</div>';
                                html += '<div class=\"right\ hisball">' + lastballs + '</div>';
                                html += '</li>';
                                $("#lastBN").before(html);
                                //console.log("xxxxxxx");
                            }
                        } else {
                            //alert('');
                        }
                    },
                    error: function (xhr, type) {
                        //alert(type);
                    }
                });
            }
        } else if ((lastNumber - bNumber >= 1) && !flag) {
            bNumber = lastNumber;
            if (checkRepreat($("#J-lottery-info-lastnumber").html())) {
                //console.log("yyyyyy:"+checkRepreat($("#J-lottery-info-lastnumber").html()));
                var ball = "";
                $('#J-lottery-info-balls').find('li').each(function (i) {
                    if (i < 4) {
                        ball += this.innerHTML + ",";
                    } else {
                        ball += this.innerHTML;
                    }
                });
                var html = '<li id=\"lastBN\">';
                html += '<div class=\"left\" class=\"period\">第<span class=\"period\">' + $("#J-lottery-info-lastnumber").html() + '</span>期</div>';
                html += '<div class=\"right\ hisball">' + ball + '</div>';
                html += '</li>';
                $("#lastBN").before(html);
            }

        }
        t = setTimeout("updateBonusNumber()", 7000);
    }
    function checkRepreat(issue) {
        var flag = true;
        $(".period").each(function (i) {
            console.log("this.html():" + $(this).html() + "-issue:" + issue);
            if ($(this).html() == issue || $(this).html().indexOf(issue) != -1) {
                flag = false;
                return false;
            }
        });
        return flag;
    }
    t = setTimeout("updateBonusNumber()", 7000);
    refreshOrder();
</script>
<script type="text/javascript" src="/cp/js/yule.Timer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval("refreshOnTime()", 20000);
    });


</script>
<div id="_my97DP" style="position: absolute; top: -1970px; left: -1970px;">
    <iframe style="width: 186px; height: 198px;" src="http://www.bgyl88.com/js/My97DatePicker/My97DatePicker.htm"
            frameborder="0" border="0" scrolling="no"></iframe>
</div>
<div class="j-ui-miniwindow pop w-9" style="z-index: 700; position: fixed; display: none;">
    <div class="hd"><i class="close closeBtn"></i><span class="title">提示</span></div>
    <div class="bd"></div>
    <a href="javascript:void(0);" class="btn btn-important ui-js-btn-confirm" style="display: none;">确 认<b
            class="btn-inner"></b></a><a href="javascript:void(0);" class="btn ui-js-btn-cancel" style="display: none;">取
    消<b class="btn-inner"></b></a><a href="javascript:void(0);" class="btn ui-js-btn-closetip" style="display: none;">关
    闭<b class="btn-inner"></b></a></div>
<div class="j-ui-mask"
     style="display: none; position: absolute; left: 0px; top: 0px; opacity: 0.5; z-index: 600; background-color: rgb(51, 51, 51);"></div>
</body>