@charset "utf-8";
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Verdana, Arial;
    font-size: 12px;
    color: #333333;
    width: 100%;
    background-color: #e1ddda;
}
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50,64,78,1);
}
::-webkit-scrollbar-track {
    background-color: rgba(50,64,78,.5);
}
::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    background: #002836;
}
* {
    outline: none;
    font-family: "微软雅黑";
}
html div, html span {
    -moz-user-select: -moz-none;
}
textarea {
    resize: none;
}
a, a:link, a:visited, a:active {
    hide-focus: expression(this.hideFocus=true);
    outline: none;
    cursor: pointer;
}
img {
    border: 0px;
    vertical-align: middle;
}
li {
    hide-focus: expression(this.hideFocus=true);
    outline: none;
    list-style-type: none;
    text-align: left;
    line-height: 23px;
}
form {
    margin: 0px;
}
.clear, .c {
    margin: 0px;
    padding: 0px;
    clear: both;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 0px;
}
h1, h2, h3, h4, h5, p, ul, li {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
input {
    vertical-align: middle;
}
.unit {
    position: relative;
    padding-top: 32px;
    z-index: 1;
    _zoom: 1;
}
.unit_title {
    position: absolute;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding-left:20px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-image:url('images/tabheadbg2.jpg');
    background-position:left top;
    background-repeat:repeat-x;
    border-radius:10px 10px 0px 0px;
    top: 0;
    left: 0;
    overflow: visible;
    border-bottom:1px #ece2e0 solid
}
.ut_l, .ut_r {
    background: url("images/game_bg.png") repeat-x left -294px;
    float: left;
    height: 32px;
    width: 3px;
    display: none;
}
.ut_r {
    float: right;
    background-position: right -294px;
}
#rightcon_h {
    background: url("images/news_bg.gif") repeat-x left -10px;
    height: 35px;
    line-height: 32px;
    text-align: left;
    overflow: hidden;
}
#rightcon_h div {
    float: left;
    background: none;
    height: 33px;
    width: 5px;
}
#rightcon_h span {
    display: block;
    color: #ffba01;
    font-size: 12px;
    font-weight: normal;
    height: 33px;
    overflow: hidden;
}
#rightcon_h b {
    color: #fff601;
    font-weight: normal;
}
#rightcon_h a {
    text-decoration: none;
    color: #fff601;
    cursor: pointer;
}
#rightcon {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}
.game_rc {
    width: 1000px;
    margin: 0 auto;
    background-color: #f4efec;
    border:1px #bbb5ae solid;
    margin-bottom: 30px;
    border-radius:8px;
    box-shadow: 0px 0px 10px #bbb5ae;
}
.gm_con {
    position: relative;
    _zoom: 1;
    height: 100%;
    padding-bottom: 10px;
    border-radius:10px;
}
.gm_con_lt, .gm_con_rt, .gm_con_lb, .gm_con_rb {
    position: absolute; /*background: url("images/game_bg.png") no-repeat left top;*/;
    width: 4px;
    height: 4px;
    _line-height: 0;
    _font-size: 0;
}
.gm_con_lt {
    left: 0;
    top: 0;
}
.gm_con_rt {
    background-position: -4px top;
    right: 0;
    _right: -1px;
    top: 0;
}
.gm_con_lb {
    background-position: left -4px;
    left: 0;
    bottom: 0;
    _bottom: -1px;
}
.gm_con_rb {
    background-position: -4px -4px;
    right: 0;
    _right: -1px;
    bottom: 0;
    _bottom: -1px;
}
.linfo {
    width: 1000px;
    margin: auto;
    height: 90px;
    box-sizing: border-box;
    display: table;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:#f4efec;
    box-shadow:-1px -1px 10px #bbb5ae;
    border-radius:8px;
    border:1px #e1dcd6 solid;
    border-bottom:0;
    background-image:url('images/a.jpg');
    background-position:left bottom;
    background-repeat:repeat-x;
}
.linfo > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom:10px;
}
div.linfospace {
    width: 10px;
}
.linfoleft {
    width: 92px;
    border-right:1px #bbb5ae solid
}
.linfoleft>img
{
    max-height:60px;
}
.lishikaijiang
{
    position:absolute;
    left:0;
    top:0;
    width:340px;
    color:#fff;
    z-index:999999999
}
.lishikaijiang:hover ul
{
    max-height:300px;
    overflow:auto;

}
.lishikaijiang ul
{
    overflow:hidden;
    padding:5px;
    width:350px;
    max-height:30px;
    background-color:#9cc96b;
}
.lishikaijiang ul li
{

    float:left;
    line-height:19px;
    padding-left:15px;
}
span.kj i
{
    width:38px;
    display:inline-block;
    height:38px;
    border-radius:50%;
    line-height:38px;
    margin-left:3px;
    margin-right:5px;
    font-style:normal;
    background-color:#fff;
    color:#72ae30;
    font-size:20px;
}
.lskj {
    position: absolute;

    right: 0;
    top: 60px;
    width: 300px;
    min-height: 200px;
    z-index: 3;
    display: none;
    box-shadow: 0px 2px 5px #ddd;
}
.lskjtitle {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    background-color: #ed6c44;
    text-align:center
}
.linfomiddle {
    width:400px;
}

.linfomiddle > span {
    display: inline-block;
    color: #744a41;
    vertical-align: middle;
    font-weight:bold;
    font-size:12px;
    padding-right:10px;
    padding-left:10px;

}
span#count_down
{
    font-size:30px;
    border-radius:5px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:0px 0px 2px #ccc;
    letter-spacing:15px;
    width:240px;
    height:44px;
    line-height:44px;
    margin-left:10px;
    background-position:center center;
    background-repeat:no-repeat;
    box-sizing:border-box;
    background-image:url('images/numbg2.png');
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:5px;
    font-weight:normal
    /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));  */

}
.linfomiddle > span > strong {

    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    color:red;
}
.linfomiddle > span >label{
    display:block;
    text-align:right
}
.linforight {
    background-position: 40px -10px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
}

.linforight > div {
    display: inline-block;
    vertical-align: middle;
    color: #744a41;
    text-align:right;
    font-size:12px;
    font-weight:bold;
    padding-right:10px;
}
.linforight div strong {
    display: block;
    font-weight:normal;
    font-size:12px;
}
.linforight div strong>small
{
    color:#ff0000;
    font-size:12px;
}

.linforight div a, .linforight div a:visited {
    display: block;
    padding-left: 10px;
    color: #775b54;
    text-decoration: none;
    height:25px;
    line-height:25px;
    font-weight:normal;
    font-size:12px;
}
.linforight div a img
{
    vertical-align:middle;
    margin-right:3px;
}
.linforight div a:hover {
    color: #ff0000;
}
.gm_con_to {
}
.tad {
    padding: 3px 0 0 9px;
    height: 108px;
}
.gct_r_nub {
    max-width:280px
}
.gr_s {
    background: url("images/n.png") no-repeat -400px top;
    width: 38px;
    height: 38px;
    float: left;
    margin: 3px 4px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #fff;
    border-radius: 50%;
}

.gr_s1 {
    background-position: left top;
}
.gr_s2 {
    background-position: -40px top;
}
.gr_s3 {
    background-position: -80px top;
}
.gr_s4 {
    background-position: -120px top;
}
.gr_s5 {
    background-position: -160px top;
}
.gr_s6 {
    background-position: -200px top;
}
.gr_s7 {
    background-position: -240px top;
}
.gr_s8 {
    background-position: -280px top;
}
.gr_s9 {
    background-position: -320px top;
}
.gr_s0 {
    background-position: -360px top;
}
.gr_s01 {
    background-position: left bottom;
}
.gr_s02 {
    background-position: -40px bottom;
}
.gr_s03 {
    background-position: -80px bottom;
}
.gr_s04 {
    background-position: -120px bottom;
}
.gr_s05 {
    background-position: -160px bottom;
}
.gr_s06 {
    background-position: -200px bottom;
}
.gr_s07 {
    background-position: -240px bottom;
}
.gr_s08 {
    background-position: -280px bottom;
}
.gr_s09 {
    background-position: -320px bottom;
}
.gr_s10 {
    background-position: -360px bottom;
}
.gr_s11 {
    background-position: -400px bottom;
}
.gr_s020 {
    background-position: right top;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #666;
    font-weight: bold;
    line-height: 35px;
    font-size: 12px;
}
.gr_sx, .gr_sk {
    background-position: -800px top;
}
.gr_ks {
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius:50%;
    float: left;
    margin-left:5px;
    margin-right:5px;
    background: url("images/ks.png") no-repeat -720px bottom;
}
.gr_ks1 {
    background-position: left bottom;
}
.gr_ks2 {
    background-position: -40px bottom;
}
.gr_ks3 {
    background-position: -80px bottom;
}
.gr_ks4 {
    background-position: -120px bottom;
}
.gr_ks5 {
    background-position: -160px bottom;
}
.gr_ks6 {
    background-position: -200px bottom;
}
.gr_ksm1 {
    background-position: left top;
}
.gr_ksm2 {
    background-position: -40px top;
}
.gr_ksm3 {
    background-position: -80px top;
}
.gr_ksm4 {
    background-position: -120px top;
}
.gr_ksm5 {
    background-position: -160px top;
}
.gr_ksm6 {
    background-position: -200px top;
}
.gr_ksx, .gr_ksk {
    background: url("images/n.png") no-repeat -720px bottom;
    width: 77px;
    height: 76px;
    float: left;
    background-position: -800px bottom;

}
.tz_body .u_tab_div .tab-back {
    float: left;
    text-align: center;
    display: block;
    cursor: pointer;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    color: #513c36;

}
.tz_body .u_tab_div .tab-back:hover {
    color:#ff0000
}
.tz_body .u_tab_div .tab-front {
    float: left;
    text-align: center;
    display: block;
    margin: 0px;
    cursor: pointer;
    background-color: #ed6c44;
    border-radius:5px;
    height:24px;
    line-height:24px;
    margin-top:8px;
    font-size:14px;
}
.tz_body .u_tab_div .tab-front .content {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    text-decoration: none;
    _float: left;
}
#changemode {
    font-size: 14px;
    color: #eb6c3f;
    margin-left: 15px;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    margin-top: 5px;
}
#changemode:hover {
    color: #000;
    background-color:transparent
}
.tz_body {
    padding-bottom: 0px;
    margin-bottom: 10px;
}
#tabCon, .trace_box {
    position: relative;
    z-index: -2;
    height: 100%;
    /*background-color: #fff;
    background-image:url('images/tabbg.jpg');
    background-position:left top;
    background-repeat:repeat-x;
    border-left:1px #ccc solid;
    border-right:1px #ccc solid;*/
}
#tabCon .tabcon_n, .trace_box .tabcon_n {
}
.nl_lt, .nl_rt, .nl_lb, .nl_rb {
    /*background: url("images/game_bg.png") -20px top;*/
    width: 3px;
    height: 3px;
    position: absolute;
    z-index: -1;
    _line-height: 0;
    _font-size: 0;
}
.nl_lt, .tbn_lt {
    left: -1px;
    top: -1px;
}
.nl_rt, .tbn_rt {
    background-position: -23px top;
    right: -1px;
    _right: -2px;
    top: -1px;
}
.nl_lb, .tbn_lb {
    background-position: -20px -3px;
    left: -1px;
    bottom: -1px;
    _height: 0;
    _width: 0;
}
.nl_rb, .tbn_rb {
    background-position: -23px -3px;
    right: -1px;
    _right: -2px;
    bottom: -1px;
    _height: 0;
    _width: 0;
}
#tabCon .tz_li {
    display: block;
    height: 22px;
    padding: 2px 0;
    line-height: 22px;
}
.tz_title {
    float: left;
    color: #000;
    padding-right: 15px;
    line-height: 26px;
    font-weight:bold;

}
#tabCon .tz_li div {
    cursor: pointer;
    float: left;
    display: block;
    height: 20px;
    background: url("images/game_bg.png") no-repeat right -580px;
    padding: 0 10px 0 0;
    margin-right: 12px;
    border:1px #c7c0be solid;
    text-decoration: none;
    border-radius:5px;
}
#tabCon .tz_li div span {
    display: block;
    height: 20px;
    line-height: 20px;
    background: url("images/game_bg.png") no-repeat left -580px;
    padding: 0 0 0 10px;
    color: #655754;
    _float: left;
}
#tabCon .tz_li div:hover {
}
#tabCon .tz_li div:hover span {
    color: #000;
}
#tabCon .tz_li div.act {
    background-color: #ed6c44;
    border-radius: 5px;
    border:1px #ed6c44 solid;
}
#tabCon .tz_li div.act span {
    color: #fff;
}
.tzn_body {
    position: relative;
    margin-bottom: 20px;
    _zoom: 1;

    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.tzn_b_n {

    _zoom: 1;
}
.tbn_lt, .tbn_rt, .tbn_lb, .tbn_rb {
    /*background: url("images/game_bg.png") -40px top;*/
    width: 3px;
    height: 3px;
    position: absolute;
    _line-height: 0;
    _font-size: 0;
}
.tbn_lt {
    left: -1px;
    top: -1px;
}
.tbn_rt {
    background-position: -43px top;
    right: -1px;
    _right: -2px;
    top: -1px;
}
.tbn_lb {
    background-position: -40px -3px;
    left: -1px;
    bottom: -1px;
    _height: 0;
    _width: 0;
}
.tbn_rb {
    background-position: -43px -3px;
    right: -1px;
    _right: -2px;
    bottom: -1px;
    _height: 0;
    _width: 0;
}
.tbn_top {
    padding: 5px 0 5px 8px;
    height: 19px;
    line-height: 18px;
}
.tbn_top h5, .tbn_top a, .tbn_top span {
    float: left;
    display: block;
    height: 19px;
}
.tbn_top h5 {
    font-weight: normal;
    color: #000;
}
.tbn_top .methodexample, .tbn_top .methodhelp {
    background: url("images/menu_bg.jpg") no-repeat right -140px;
    width: 41px;
    margin-left: 10px;
}
.tbn_top .methodhelp {
    background-position: right -170px;
    width: 17px;
}
.tbn_cen {
}
.tbn_c_ft {
    /*background: url("images/topshadow.jpg") repeat-x left top;*/
    height: 3px;
    _line-height: 0;
    _font-size: 0;
}
.tbn_c_fb {
    /*background: url("images/bottonshadow.jpg") repeat-x left top;
    height: 6px;*/
    _line-height: 0;
    _font-size: 0;
}
.tbn_c_s {
    display: inline-table;
}
.tbn_c_s .c {
    clear: both;
    float: none;
}
.tbn_c_s .nbs {
    margin-bottom: 0;
    padding: 5px;
    height: 40px;
    width: 980px;
    padding-left: 10px;
}
.tbn_c_s .single {
    height: 120px;
}
.tbn_c_s .selposition {
    height: 30px;
    color: #000;
    line-height: 30px;
    margin-left: 100px;
}
.selposition span {
    color: #000!important;
}
.tbn_c_s .selposition label {
    margin: 0 5px;
    cursor: pointer;
}
.tbn_c_s .nbs .ti, .tbn_c_s .nbs .tiempty, .tbn_c_s .nbs .nb, .tbn_c_s .nbs .nbts, .tbn_c_s .nbs .nbksts, .tbn_c_s .nbs .bl, .tbn_c_s .nbs .to {
    float: left;
    overflow: hidden;
    height: 38px;
}
.tbn_c_s .nbs .ti {
    color: #fff;
    font-size: 16px;
    padding: 2px 0;
    margin-right: 0px;
    width: 79px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight:bold;
    letter-spacing:2px;
    vertical-align: middle;
    background-image:url('images/blabel.png');
    background-position:left center;
    background-repeat:no-repeat
}
.tbn_c_s .nbs .tiempty {
    color: #FFF;
    font-size: 16px;
    padding: 10px 0;
    margin-right: 0px;
    background-image: none;
    width: 82px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.tbn_c_s .nbs .nb {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 10px;
    height: 38px;
    padding-bottom: 5px;
}
.tbn_c_s .nbs .nb div {
    cursor: pointer;
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    background: linear-gradient(to bottom, #f3e7dd 0%,#d2b5a0 100%);
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    border:1px #c7af9f solid;
    color: #000;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 6px;
    margin-left: 6px;
    text-shadow: #fff 0 1px 0;
    box-shadow: 0px 1px 5px #ccc;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;}
.tbn_c_s .nbs .nb.keno div {
    margin-left: 2px;
    margin-right: 2px;
}
.tbn_c_s .nbs .nb .on,.tbn_c_s .nbs .nb .on:hover {
    background: linear-gradient(to bottom, #ff8b54 0%,#f14d00 100%);
    color: #fff;
    text-shadow: #000 0 0px 0;
    border:1px #bf4105 solid}
.tbn_c_s .nbs .nb div:hover {
    background: linear-gradient(to bottom, #ff8b54 0%,#f14d00 100%);
    color: #fff;}
.tbn_c_s .nbs .nb.keno .on {
    color: #fff;
}
.tbn_c_s .nbs .nbts {
    margin: 0 5px 10px 5px;
    padding: 0 15px;
    height: 42px;
}
.tbn_c_s .nbs .nbts div {
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 72px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    margin-right: 2px;
    background-color: #f5f5f5;
    border: 1px #ddd solid;
    box-shadow: 0px 1px 3px #ddd;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.tbn_c_s .nbs .nbts .on {
    color: #fff;
    background-color: #4ebcda;
}
.tbn_c_s .nbs .nbksts {
    margin: 0 5px 10px 5px;
    padding: 0 15px;
    height: 38px;
}
.tbn_c_s .nbs .nbksts div {
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
    float: left;
    background: url("images/menu_bg.jpg") no-repeat -37px -80px;
    width: 72px;
    height: 38px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-right: 2px;
}
.tbn_c_s .nbs .nbksts .on {
    background-position: -37px -40px;
    color: #fff;
}
.tbn_c_s .nbs .bl {
    margin: 0 5px 10px 5px;
    padding: 0 15px;
    height: 38px;
}
.tbn_c_s .nbs .bl div {
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
    float: left;
    background: linear-gradient(to bottom, #ffffff 0%,#f7eee9 100%);
    border-radius: 5px;
    width: 72px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    border:1px #e5cabe solid;	box-shadow: 0px 1px 5px #ccc;
}
.tbn_c_s .nbs .bl .on {
    background-position: -37px -40px;
    color: #fff;
    background: linear-gradient(to bottom, #f97a53 0%,#ed6c44 100%);
    border:1px #ed6c44 solid
}
.codedesc {
    display: block;
    font-size: 12px;
}
.tbn_c_s .nbs .to {
    height: 42px;
    padding-left: 1px;
}
.tbn_c_s .nbs .to li {
    display: block;
    float: left;
    cursor: pointer;
}
.tbn_c_s .nbs .to .dxjoq {
    cursor: pointer;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #f3e7dd 0%,#d2b5a0 100%);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    border:1px #c7af9f solid;
    color: #000;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 6px;
    margin-left: 6px;
    text-shadow: #fff 0 1px 0;
    box-shadow: 0px 1px 5px #ccc;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;}
.tbn_c_s .nbs .to .dxjoq:hover {
    background: linear-gradient(to bottom, #f7eee9 0%,#eddacf 100%);
    color: #af8278;
}
.tbn_c_s .nbs .to .on,.tbn_c_s .nbs .to .on:hover {
    background: linear-gradient(to bottom, #f96b28 0%,#f96b28 100%);
    color: #FFF;
    text-shadow: #000 0 0px 0;
    border:1px #bf4105 solid;
    box-shadow: 0px 2px 5px #f96b28;
}.tbn_c_s .random_sel_button {
     margin-bottom: 10px;
     padding: 0 0 5px 0;
     display: none;
     height: 80px;
     width: 650px;
     margin: 0 auto;
 }
.tbn_c_s .funny_desc {
    color: #666;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    float: left;
}
.tbn_c_s .random_button, .tbn_c_s .possibleprize {
    cursor: pointer;
    float: left;
    background-color: #eee;
    width: 66px;
    height: 32px;
    box-shadow: 0px 2px 5px #ccc;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 12px;
    line-height: 32px;
    color: #000;
    text-align: center;
    margin: 3px;
}
.tbn_c_s .random_sel_button .on {

    background-color: #4ebcda;
    color: #fff;
    border-radius:5px;
    text-shadow: #000 0 0px 0;}
.tbn_c_s .nbs .ha {
    float: left;
    overflow: hidden;
    height: 38px;
}
.tbn_c_s .lsb {
    border: 0;
    margin-bottom: 5px;
    display: block; /*background: url("images/other.gif") no-repeat -5px -820px;*/;
    background-color: #ccc;
    text-align: center;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    color: #666;
}
.tbn_c_s .lsb:hover {
    background-color: #ddd;
}
.write_box_desc {
    color: #666;
    padding: 10px 0 5px 0;
    display: block;
}
.tz_tab_list_box {
    height: 100px;
    _height: expression( this.scrollHeight > 200 ? "200px" : "100%" );
    overflow-y: auto;
    border: 1px #ccc solid;
    padding: 0;
    margin-left: 5px;
}
.tz_tab_list {
    width: 100%;
    border-collapse: collapse;
    border: 0px!important;
}
@-moz-document url-prefix(){.tz_tab_list_box{overflow-y: auto;}}
@-moz-document url-prefix(){.tz_tab_list{width: 100%;}}
.tz_tab_list td {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px #ddd solid;
    color: #666;
}
.tz_tab_list tr:nth-child(2n)
{
    background-color:#f5f5f5
}
.tz_tab_list .tl_li_l, .tz_tab_list .tl_li_r, .tz_tab_list .tl_li_rn {
    width: 4px;
    height: 20px;
    background: url("images/game_bg.png") no-repeat left -460px;
}
.tz_tab_list .tl_li_r {
    background-position: right -500px;
    width: 16px;
    cursor: pointer;
}
.tz_tab_list .tl_li_rn {
    background-position: -5px -460px;
}
.tbn_bot {
    padding: 5px 8px 5px 0;
    position: relative;
    margin-top: 10px;

}
.tbn_b_top {
    padding: 10px 0px 0px 0px;
    display: inline-table;
    height: 30px;
    width: 980px;
    line-height:30px;
    border-radius:5px;
    background-color:#e4dedb
}
.tbn_b_top div.g_submit
{
    float:none;
    margin-left:-40px;
    height:35px;
    line-height:35px;
}
.tbn_b_top div.g_submit span
{
    line-height:35px;
}
.tbn_bt_sel {
    float: left;
    width: 550px;
    text-align: left;
    color: #000;
    padding-left: 10px;
    line-height: 34px;
}
select {
    border: 1px #ddd solid;
    vertical-align: middle;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    color: #666;
    font-size: 12px;
}
.tbn_bt_sel strong {
    font-size: 14px;
    color: #ff0000;
}
.bei {
    border: 1px #ddd solid;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    height: 25px;
    line-height: 25px;
    width: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    margin-top:-2px;
    color:#f96b28
}
.bei:focus {
    background-color: #f5f5f5;
    border: 1px #ccc solid;
    border-left: 0;
    border-right: 0;
}
.changetime {

    margin: 0 2px\9;
    font-size: 12px;
    padding: 3px 2px;
    *padding: 4px 1px 0 1px;
    _padding: 4px 1px 0 1px;
    border: 1px solid #CCC;
    /*background: url("images/menu_bg.jpg") no-repeat -5px -85px;*/color: #000;
    vertical-align: middle;
    cursor: pointer;

}
#reducetime
{
    border-radius:5px 0px 0px 5px;
}
#plustime
{
    border-radius:0px 5px 5px 0px;
}
@-moz-document url-prefix(){.changetime{margin: 0 2px;}}
.g_submit {
    float: right;
    display: block;
    width: 170px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #79bcff;
    font-weight: 400;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.lbtn {
    display: inline-block;
    width: 170px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
    background-color: #f76447;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.lbtn:hover {
    background-color: #df3615;
}
.g_submit span {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.g_submit:hover {
    background-color: #4b9bec;
}
.tbn_b_bot {
    padding:0;
    width: 700px;
}
.tbn_bb_l {
    float: left;
    width: 500px;
}
.tbn_bb_ln {

    padding: 2px 0 0 1px;
    position: relative;
    position: inherit\9;
    _zoom: 1;
}
.tbn_bb_ln h4 {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 3px 0 8px;
    color: #000;
    font-weight:normal;
    font-size:12px;
}
.tbn_bb_ln h4 .tbn_clear {
    float: right;
    border: none;
    background: url("images/rx.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    line-height: 18px;
    padding-top: 2px;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    color: #666;
    font-size:0;
    color:#fff
}
.tbn_bb_ln h4 .tbn_clear:hover
{
    float: right;
    border: none;
    background: url("images/rx2.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    line-height: 18px;
    padding-top: 2px;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    color: #666;
    font-size:0;
    color:#fff

}
.tbn_bb_r {
    padding-top: 10px;
    margin-bottom: -10px;
    float: right;
    text-align: left;
    margin-right: 5px;
}
.tbn_bb_r .sub_txt {
    padding-top: 46px;
    padding-bottom: 10px;
}
.tbn_bb_r .sub_txt p {
    padding: 0 0 0 8px;
    line-height: 22px;
    color: #666;
}
.tbn_bb_r .sub_txt p strong {
    color: #f00;
}
.tbn_bb_r .g_submit,#cancelproject {
    background-color: #f37032;
}
.tbn_bb_r .g_submit:hover,#cancelproject:hover {
    background-color: #e1510d;
}
.tbn_bb_r .g_submit span {
}
.tbn_bb_r .g_submit:hover {
}
.zh_body {
    padding-bottom: 3px;
    _padding-bottom: 5px;
    margin: 0;
    height: 100%;
}
.zh_body .unit {
    padding: 0;
}
.unit div.trace_box {
    background-image: none!important;
}
.zh_body .unit_title {
    background-position: left -760px;
    height: 38px;
    position: relative;
    margin: 0;
    padding: 0;
    margin: auto;
}
.zh_body .unit_title .ut_l {
    background-position: left -720px;
    height: 38px;
}
.zh_body .unit_title .ut_r {
    background-position: right -800px;
    height: 38px;
}
.zh_body .unit_title h4, .zh_body .unit_title .ut_zh {
    display: block;
    float: left;
    margin: 5px 5px 0 5px;
    line-height: 26px;
}
.zh_body .unit_title h4, .zh_body .unit_title h4 .zh_title {
}
.zh_body .unit_title h4 .zh_title {
    cursor: pointer;
    display: block;
    color: #666;
    height: 38px;
    line-height: 38px;
    width: 110px;
    margin-top: -6px;
    text-align: center;
    text-decoration: none;
}
.zh_body .unit_title h4 .zh_title input {
}
.zh_body .unit_title .ut_zh {
    font-weight: normal;
    font-size: 12px;
}
.zh_body .unit_title .ut_zh .zh_continue {
    cursor: pointer;
}
.zh_body .unit_title .ut_zh input {
    vertical-align: middle;
}
.zh_body .unit_title2 {
    height: 100%;
}
.zh_body .trace_box {
    z-index: 1;
}
.zh_body .trace_box .tabcon_n {
    padding: 2px 3px;
}
#lt_trace_label .tab-back {
    cursor: pointer;
    display: block;
    float: left; /*background: url("images/game_bg.png") no-repeat -290px -640px;*/;
    height: 24px;
    line-height: 24px;
    padding: 0px 10px;
    background-color: #ddd;
    border-radius: 5px;
    color: #666;
    margin: 0 10px 0 0;
}
.unit1 {
    position:relative
}
#lt_trace_label .tab-front {
    cursor: pointer;
    display: block;
    float: left; /*background: url("images/menu_bg.jpg") no-repeat right -230px;*/;
    background-color: #ed6c44;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    margin: 0 10px 0 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.zh_body .zhgen {
    padding: 6px 10px;
    background-color: #fff;
    color: #000;
    line-height: 28px;
    height: 100%;
}
.zh_body .zhgen .y {
    color: #ff0000;
}
.zh_body .zhgen #lt_trace_labelhtml input {
    color: red;
    text-align: center;
}
.zh_body .zhlist {
    height: 280px;
    background-color: #fff;
    overflow-y: scroll;
}
.zhlist table {
    border: 0px;
    color: #999;
    background-color: #FFF;
}
.zhlist table td {
    color: #666;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 1px #ddd solid;
}
.zhlist table td input {
    width: 100px;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -3px;
    border: 1px #ccc solid;
}
.zhlist table tr:nth-child(2n)
{
    background-color:#f7f7f7
}
.zhlist table tr:hover {
    background-color: #eafbff;
}
.zhlist table .r1 {
    width: 70px;
    padding-left: 10px;
}
.zh_body .zhlist table .r2 {
    padding: 0;
    margin: 0 6px 0 0;
    text-align: center;
    border: 0px;
    color: #999;
    height: 15px;
    width: 35px;
}
.zh_body .zhlist table .on .r2, .zhlist table .hv .r2 {
    color: red;
}
.zh_body .zhlist table .on td {
    background-position: left -520px;
}
.zh_body .zhlist table .hv td {
    background-position: left -520px;
}
.zhgen .g_submit {
    cursor: pointer;
    width: 107px;
}
.zhgen .g_submit:hover {
    background-position: -110px -120px;
}
.trace_box .tz_li {
    display: block;
    padding: 2px 0;
    line-height: 19px;
    _padding-bottom: 1px;
}
.yx_body {
    padding-bottom: 3px;
    margin: auto;
    width: 976px;
    margin-left: 12px;
}
.yx_body .unit {
    padding-top: 34px;
    _height: 0px;
}
.yx_body .unit_title {
    background-position: left -760px;
    height: 36px;
}
.yx_body .unit_title .ut_l {
    background-position: left -720px;
    height: 36px;
}
.yx_body .unit_title .ut_r {
    background-position: right -800px;
    height: 36px;
}
.yx_body .unit_title h4, .yx_body .unit_title .ut_zh {
    display: block;
    line-height: 26px;
}
.yx_body .unit_title h4 .yx_title {
    cursor: pointer;
    display: block;
    width: 100%;
    line-height: 37px;
    text-indent: 25px;
    text-decoration: none;
    color: #666;
}
.yx_body .yx_box {
    border: 1px solid #eee;
    border-top: 0;
    position: relative;
    margin-top: 2px;
    padding-top: 10px;
}
.yx_body .nl_lt, .yx_body .nl_rt, .yx_body .nl_lb, .yx_body .nl_rb {
    z-index: 1;
    _display: none;
}
.yx_body .yxlist {
    background-color: #fff;
    padding-bottom: 20px;
}
.yx_body .yxlist table {
    color: #000;
    background-color: #FFF;
    border-collapse: collapse;
}
.yx_body .yxlist table th {
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #666;
    border-bottom: 2px #eee solid;
}
.yx_body .yxlist table td {
    border-bottom: 1px #eee solid;
    color: #666;
    cursor: pointer;
    padding: 5px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
}
.yx_body .yxlist table tr:nth-child(2n)
{
    background-color:#f7f7f7
}
.yx_body .yxlist table tr.cancel td {
    background-position: left -520px;
}
.yx_body .yxlist table td a {
    color: #000;
}
#copyright {
    text-align: center;
    height: 27px;
    padding-bottom: 15px;
}
#copyright p {
    line-height: 25px;
    color: #666;
}
.mdl span, .mdl div {
    display: block;
    background: url("images/ts.gif") repeat-x;
}
.mdl {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 10px;
    padding: 38px 7px 12px 7px;
    font: 12px;
}
.mdl h3 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 0;
    font-size: 14px;
    color: #666;
    letter-spacing: 0px;
    border-bottom: 1px #bbb solid;
    width: 100%;
    padding: 7px;
    text-align: left;
    font-weight:normal;
    font-size:16px;
    background-color:#ccc
}

.mdl h4 {
    font-size: 12px;

    padding: 3px 60px 5px 5px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    border-bottom: #CCC 1px dotted;
    line-height: 18px;
}
.mdl_t_l, .mdl_t_c, .mdl_t_r, .mdl_c_l, .mdl_c_r, .mdl_b_l, .mdl_b_c, .mdl_b_r, .mdl_clo {
    position: absolute;
    z-index: 2;
}
.mdl .mdl_t_l {
    top: 0;
    left: 0;
    width: 12px;
    height: 38px;
    background-position: left -400px;
}
.mdl .mdl_t_c {
    top: 0;
    left: 4px;
    z-index: 1;
    width: 100%;
    height: 38px;
    background-position: left -341px;
}
.mdl .mdl_t_c span {
    height: 38px;
    background-position: left -341px;
}
.mdl .mdl_t_r {
    top: 0;
    right: 0px;
    width: 12px;
    height: 38px;
    background-position: right -400px;
}
.mdl .mdl_c_l {
    top: 0;
    left: 0;
    z-index: 1;
    width: 7px;
    border-right: 2px solid #fff;
    background-color: #fff;
    margin-top: 2px;
}
.mdl .mdl_c_l span {
    width: 7px;
    height: 2000px;
    background: #fff;
}
.mdl .mdl_c_r {
    top: 0;
    right: 0;
    z-index: 1;
    width: 7px;
    border-left: 2px solid #fff;
    background-color: #fff;
}
.mdl .mdl_c_r span {
    width: 7px;
    height: 2000px;
    background: #fff;
}
.mdl .mdl_b_l {
    bottom: 0;
    left: 0;
    height: 12px;
    width: 7px;
    background-color: #fff;
    background-image: none;
}
.mdl .mdl_b_c {
    bottom: 0;
    _left: 6px;
    width: 100%;
    height: 12px;
    background: none;
    left: 6px\9;
}
.mdl .mdl_b_c span {
    bottom: 0;
    height: 12px;
    background-position: left -540px;
    background-color: #fff;
}
.mdl .mdl_b_r {
    bottom: 0;
    right: 0;
    height: 12px;
    width: 7px;
    background-color: #fff;
    background-image: none;
}
.mdl .mdl_clo {
    top: 0px;
    right: 0px;
    z-index: 10;
    color: #FFF;
    background-image: none;
    margin-top: 10px;
}
.mdl .mdl_clo .c1 {
    height: 26px;
    cursor: pointer;
    width: 35px;
    background: url("images/ts.gif") left -260px no-repeat;
}
.mdl .mdl_clo .c2 {
    height: 26px;
    width: 35px;
    background: url("images/ts.gif") left -260px no-repeat;
}
.mdl table {
    width: 100%;
    background-color: #FFF;
}
.mdl table td {
    background: #FFF;
    padding: 3px 5px;
    text-align: left;
    line-height: 16px;
}
.mdl .data, .mdl .chat, .mdl .datainfo {
    background: #F4F4F4;
    float: none;
    background-image: none;
    height: 130px;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: #CCC 1px dotted;
    *width: 99%;
}
.mdl .datainfo {
    background: #FFF;
}
.mdl .data table {
    table-layout: fixed;
}
.mdl .data table td {
    *padding-right: 16px;
    background: #F4F4F4;
    color: #666;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
}
.mdl .chat {
    padding: 3px 0px;
    background: #B5B2B5;
    height: 300px;
    border-top: #CCC 1px dotted;
}
.mdl .chat table td {
    padding: 0px;
    margin: 0px;
}
.mdl .ta0 {
    font-size: 12px;
    line-height: 16px;
    width: 490px;
}
.mdl .yh {
    color: #fff;
    width: 65px;
    height: 31px;
    line-height: 29px;
    background-color:#f66346;
    border: 0px;
    text-align: center;
    border-radius:5px;
    vertical-align: middle;
    box-shadow:0px 2px 5px #ccc;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.mdl .yh:hover {
    background-color:#df3615
}
.icons_mb5_s {
    margin: 0 5px 0 0px;
    background: url("images/ts.gif") -60px 0 no-repeat;
    height: 42px;
    width: 42px;
}
.icons_mb5_e {
    margin: 0 5px 0 0px;
    background: url("images/ts.gif") -180px 0 no-repeat;
    height: 42px;
    width: 42px;
}
.icons_mb5_n {
    margin: 0 5px 0 0px;
    background: url("images/ts.gif") -120px 0 no-repeat;
    height: 42px;
    width: 42px;
}
.icons_mb5_q {
    margin: 0 5px 0 0px;
    background: url("images/ts.gif") 0 0 no-repeat;
    height: 42px;
    width: 42px;
}
.icons_q1 {
    height: 26px!important;
    width: 26px!important;
    display:inline-block;
    background: url("images/help.png");
    cursor: pointer;
    vertical-align:sub;

}
.mdl .binfo, .mdl .binfo span {
    display: block;
    background-image: none;
    float: left;
}
.mdl .binfo .bbl {
    height: 27px;
    width: 9px;
}
.mdl .binfo .bbr {
    height: 27px;
    width: 9px;
    background: url("images/ts.gif") no-repeat right -290px;
}
.mdl .binfo .bbm {
    padding: 0px 10px;
    background: url("images/ts.gif") no-repeat left -290px;
    color: #000;
    display: block;
    text-align: right;
    height: 27px;
    line-height: 27px;
}
.hr1 {
    background: url("images/main_header_bg.jpg") no-repeat 0px -302px;
    height: 2px;
    width: 650px;
    overflow: hidden;
    margin: 5px 0px;
}
.mdl .zdinfo {
    background: #535353;
    color: #FC3;
    padding-left: 10px;
}
.mdl .zdinfo div {
    background: none;
}
.mdl .zdinfo table {
    margin: 0px;
    padding: 0px;
}
.mdl .zdinfo table td {
    background: #535353;
    height: 14px;
    line-height: 14px;
}
.mdl .zdinfo table .th td {
    height: 36px;
    line-height: 36px;
    padding: 0px;
    margin: 0px;
}
.mdl .zdinfo table .d td {
    background: #F9F9F9;
    line-height: 30px;
    text-align: center;
}
.mdl .zdinfo table td span {
    background: none;
    display: inline;
    color: #FFF;
}
.mdl .zdinfo textarea {
    font-size: 12px;
}
.mdl .zdinfo .t1 {
    border: #333 1px solid;
    background-color: #D8D8D8;
    font-size: 12px;
    padding: 3px;
}
.mdl .title {
    background-image: none;
    padding: 10px;
    font-weight: bold;
}
.mdl .hisinfo span, .mdl .hisinfo div {
    background-image: none;
}
.mdl .hisinfo {
    background: #fff;
    color: #000;
    margin-left: -2px;
}
.mdl .hisinfo div {
    background: none;
}
.mdl .hisinfo td {
    font-weight: bold;
    background: #fff;
    text-align: left;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}
.mdl .hisinfo .th td {
    border-bottom: 0;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 0px;
    height: 37px;
    line-height: 37px;
    background: url("images/other.gif") repeat-x left -460px;
    color: #fff;
}
.mdl .hisinfo .d td {
    font-weight: normal;
    text-align: center;
}
.mdl .hisinfo textarea {
    font-size: 12px;
}
.mdl .hisinfo span {
    display: inline;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}
.fbox {
    display: inline-block;
    text-align: left;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}
.fbox .t .tl {
    height: 5px;
    width: 5px;
    background: url("images/game17.png") 0px -489px no-repeat;
}
.fbox .t .tr {
    height: 5px;
    width: 5px;
    background: url("images/game17.png") -6px -489px no-repeat;
}
.fbox .t .tm {
    margin: 0px;
    height: 5px;
    background: url("images/game17.png") 0px -496px repeat-x;
    overflow: hidden;
}
.fbox .mm {
    width: 100%;
    background-color: #CCC;
    text-align: left;
    line-height: 16px;
}
.fbox .mm .ml {
    border-left: #b7b7b7 1px solid;
    overflow: hidden;
    font-size: 0px;
}
.fbox .mm .mr {
    border-right: #b7b7b7 1px solid;
    overflow: hidden;
    font-size: 0px;
}
.fbox .in {
    margin-top: 6px;
    margin-left: 3px;
}
.fbox .ic {
    overflow: hidden;
    margin-right: 6px;
    margin-top: 3px;
    float: left;
    height: 10px;
    width: 10px;
    background: url("images/game17.png") -27px -485px no-repeat;
}
.fbox .b .bl {
    height: 5px;
    width: 5px;
    background: url("images/game17.png") -12px -489px no-repeat;
}
.fbox .b .br {
    height: 5px;
    width: 5px;
    background: url("images/game17.png") -18px -489px no-repeat;
}
.fbox .b .bm {
    background-color: #CCC;
    border-bottom: #b7b7b7 1px solid;
    *height: 4px;*;
overflow: hidden;
    *font-size: 0px;
}
.fbox .ar {
    position: relative;
    bottom: 8px;
    left: 30px;
}
.fbox .ar .ic {
    position: absolute;
    z-index: 5;
    height: 11px;
    width: 15px;
    background: url("images/game17.png") -103px -502px no-repeat;
}
.fbox .ta {
    width: 210px;
    height: 50px;
    background-color: #CCC;
    font-size: 12px;
    font-weight: lighter;
}
.ibox {
    width: 300px;
    display: inline-block;
    text-align: left;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}
.ibox .t .tl {
    height: 5px;
    width: 4px;
    background: url("images/game17.png") -50px -488px no-repeat;
}
.ibox .t .tr {
    height: 5px;
    width: 4px;
    background: url("images/game17.png") -55px -488px no-repeat;
}
.ibox .t .tm {
    height: 5px;
    background: url("images/game17.png") 0px -514px repeat-x;
}
.ibox .mm {
    width: 100%;
    background-color: #ccc;
    text-align: left;
    line-height: 16px;
    color: #000;
}
.ibox .mm .ml {
    border-left: #b7b7b7 1px solid;
    overflow: hidden;
    font-size: 0px;
}
.ibox .mm .mr {
    border-right: #b7b7b7 1px solid;
    overflow: hidden;
    font-size: 0px;
}
.ibox .mm .cy {
    color: #FC0;
}
.ibox .b .bl {
    height: 3px;
    width: 4px;
    background: url("images/game17.png") -60px -490px no-repeat;
}
.ibox .b .br {
    height: 3px;
    width: 4px;
    background: url("images/game17.png") -65px -490px no-repeat;
}
.ibox .b .bm {
    background-color: #ccc;
    border-bottom: #b7b7b7 1px solid;
    *height: 2px;*;
overflow: hidden;
    *font-size: 0px;
}
.ibox .ar {
    position: relative;
    bottom: 3px;
    left: 30px;
}
.ibox .ar .ic {
    position: absolute;
    z-index: 5;
    height: 11px;
    width: 30px;
    background: url("images/game17.png") -73px -524px no-repeat;
}
.win_bot {
    position: fixed;
    right: 0;
    bottom: 55px;
    background: url("images/ts.gif") no-repeat left -120px;
    width: 218px;
    height: 124px;
    z-index: 999;
    text-align: left;
}
.win_bot h5 {
    display: block;
    float: left;
    font-weight: normal;
    color: #fff;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    padding: 6px 0 8px 20px;
    width: 140px;
}
.wb_close {
    float: right;
    background: url("images/ts.gif") no-repeat right -120px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: 8px;
    _margin: 8px 4px 0 0;
}
.wb_con {
    padding: 0 0 0 10px;
    margin: 0 3px 3px 0;
    height: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wb_con p {
    text-indent: 20px;
}
a.wb_p, a.wb_n {
    display: block;
    float: left;
    color: #333;
    text-decoration: none;
    margin: 1px 10px 0 13px;
    _margin: 4px 4px 0 6px;
    width: 40px;
    text-align: center;
    height: 16px;
}
a.wb_p {
    padding-left: 12px;
}
a.wb_n {
    padding-right: 12px;
    float: right;
}
#JS_blockOverlay {
    background: rgba(0,0,0,1)!important;
    opacity: 0.8!important;
}
#lt_opentimebox2 strong, #waitopendesc {
    color: #fff!important;
}
#lt_write_box {
    overflow: auto;
    border: 1px #ddd solid;
}
.newtab {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 250px;
    height: 160px;
    background-color:#fff;
    border:1px #eee solid;
}
.wrap {
    width: 250px;
}
.hide {
    display: none;
}
#tab_t {
    height: 30px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:3px;
}
#tab_t li {
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: -1px;
    border: 1px solid #fff;
    border-bottom: none;
    color: #999;
    cursor: pointer;
}
#tab_t .act {
    position: relative;
    line-height: 31px;
    margin-bottom: -1px;
    background: #ed6c44;
    border-radius:5px;
    border-bottom: none;
    color: #fff;
}
#tab_c {
    padding-top: 5px;
    box-sizing: border-box;
    min-height: 160px;
}
#tab_c>div
{
    overflow:auto;
    height:116px
}
table.tbl {
    width: 100%;
    border-collapse: collapse;

}
table.tbl tr {
    background-color: #fafafa;
}
table.tbl tr:hover {
    background-color: #fef8f6!important;
}
table.tbl tr:nth-child(2n)
{
    background-color:#fff
}
table.tbl th {
    text-align: center;
    padding:0;
    color: #987f78;
    line-height:30px;
    font-weight: normal;
    background-color: #f8f3f0;
    border-bottom: 1px #f8f3f0 solid;
    width:auto
}
table.tbl td {
    border-bottom: 1px #f8f3f0 solid;
    text-align: center;
    padding: 5px;
    color: #666;
    position:relative;
    font-weight:normal!important
}
table.tbl td div
{
    text-align:left;
    position:absolute;
    left:10px;
    bottom:20px;
    background-color:#fff;
    padding:10px;
    border-radius:5px;
    border:1px #e6a688 solid;
    color:#999;
    box-shadow:0px 0px 5px rgba(0,0,0,.3);
    display:none
}
table.tbl td span
{
    display:inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    background-color:#ccc;
    text-align:center;
    cursor:pointer;
    border-radius:8px;color:#7d675d;
    font-size:10px;
    margin-left:1px;	box-shadow:0px 1px 3px #eee;	border:1px #ddcac1 solid;
    margin-right:1px;	background: linear-gradient(to bottom, #ffffff 0%,#f7efea 100%);
}
label.red {
    background-color: #ba0000;
    border-radius: 2px;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 18px;
}
label.green {
    background-color: #61ba00;
    border-radius: 2px;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 18px;
}
label.gray{
    background-color: #999;
    border-radius: 2px;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 18px;
}
.icons_mb5_e {
}
#tabbar-div-s3 {
    padding-left: 10px;
    padding-top: 15px;
}
#tabbar-div-s3 li {
    clear: both;
}
.cntSeparator {
    display: block;
    color: #000;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    width: 10px;
}
span.digits {
    margin-top: 5px;
}
#lt_trace_box, .mask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: none;
    background-color: rgba(0,0,0,.8);
}
#zh {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 940px;
    height: 650px;
    margin-left: -470px;
    margin-top: -325px;
    text-align: left;
    box-sizing: border-box;
    border-radius:6px;
    background-color: #f8f3f0;
    box-shadow:0px 0px 20px #000;
    z-index:999999999999999999999999
}
.tabcon_n {
    padding: 0;
}
#lt_trace_issues {
    overflow: auto;
    height: 390px;
    border-top: 1px #ddd solid;
}
.zhgen {
    padding: 10px;
    padding-bottom: 0;
    position:relative
}
.jihuabtn
{

    display: block;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
    background-color: #6ea115!important;
    font-weight: 400;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color:#fff;
    font-size:16px;
    text-align:center;
    line-height:30px;
}
.jihuabtn:hover
{
    background-color: #df3615!important;
}
.zhgen table td p {
    padding-bottom: 10px;
    color: #666;
}
.zhgen table td p input {
    border: 1px #ddd solid;
}
.zhbottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px #ccc solid;
    padding-bottom: 15px;
    box-shadow: 0px 3px 5px #eee inset;
}
.zhbottom > div.g_submit {
    float: none;
    margin-left: 5px;
    display: inline-block;
    margin-right: 5px;
}
#lt_trace_ok
{
    background-color: #eaa642;
}
#lt_trace_ok:hover
{
    background-color: #e3921a;
}
.zhtitle {
    font-size: 18px;
    color: #513c36;
    padding: 10px;
    text-align: center;
    background-color: #ed6c44;
    margin-bottom: 10px;
    background-image:url('images/tabheadbg2.jpg');
    border-bottom:1px #ece2df solid;
    border-radius:5px 5px 0px 0px;
}
.zhtitle>i.qxzh
{
    display:inline-block;
    float:right;
    background-image:url('images/exit.png');
    background-position:center bottom;
    background-repeat:no-repeat;
    cursor:pointer;
    width:18px;
    height:20px;
}
.zhtitle>i.qxzh:hover
{
    background-image:url('images/exit2.png');
}
a.ckzh, a.ckzh:visited {
    text-decoration: none;
    padding-left: 10px;
}
a.ckzh:hover {
    color: #ff0000;
}
.win {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 320px;
    margin-left: -250px;
    margin-top: -160px;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
}
.wintitle {
    font-size: 18px;
    color: #666;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
}
.winbox {
    padding: 10px;
}
.winfooter {
    text-align: center;
    padding-top: 10px;
}
.czinfotbl {
    width: 500px;
}
.czinfotbl td {
    text-align: left;
    white-space: nowrap;
}
.czinfotbl td span {
    display: inline-block!important;
}
span.r {
    color: red;
    font-weight: bold;
}
textarea.t1
{
    border:1px #ddd solid;
    overflow:auto;
    padding:3px;
    box-sizing:border-box
}
.xqtbl
{
    width:100%;
}
.xqtbl td
{
    border-bottom:0!important
}
.xqtblleft
{
    width:320px;
    padding:0!important;
}
.xqtblright
{
    vertical-align:top
}
.xqtblright p
{
    padding-top:0;
    line-height:18px;
}
ul.xqlist
{

}
ul.xqlist li
{
    font-weight:normal!important;
    color:#666
}
ul.xqlist li
{
    float:left;
    width:50%;
}
#lt_desc
{
    background-color:#f8f3f0;
    border-radius:5px;
    padding:5px;
    text-align:center;
    padding-left:10px;
    margin-top:-5px;
    color:#666
}

a.wflink
{
    position:absolute;
    right:10px;
    top:7px;
    z-index:2;
    display:inline-block;
    width:80px;
    height:24px;
    text-align:center;
    line-height:24px;
    border:1px #c47300 solid;
    border-radius:4px;
    box-shadow:1px 1px 3px rgba(0,0,0,.2);
    color:#673d02;
    font-family:宋体;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 2px #fff;
    background: linear-gradient(to bottom, #ffba00 0%,#ff9600 100%);
}
a.wflink:hover
{
    background: linear-gradient(to bottom, #ffcf4d 0%,#ffba00 100%);
}


* {
    margin: 0;
    padding: 0;
}
.numbox {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-collapse: collapse;
}
.numbox>span
{
    position:absolute;
    left:-40px;
    width:120px;
    bottom:-19px;
    background-color:#fff;
    white-space:nowrap;
    font-size:11px;
    height:20px;
    z-index:9;
    font-weight:normal;
    line-height:20px;
    text-align:center;
    border:1px #c7af9f solid;
    box-sizing:border-box;
    box-shadow:0px 1px 5px #ddd;
    border-radius:3px;
    background: linear-gradient(to bottom, #f3e7dd 0%,#d2b5a0 100%);
    color:#666;
    display:none
}
.numbox p {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    font-size:12px;
    color:#7d675d;
    font-family:Arial, Helvetica, sans-serif;
    border:1px #c7af9f solid;
    box-sizing:border-box;
    box-shadow:0px 1px 3px #eee;
    background: linear-gradient(to bottom, #f3e7dd 0%,#d2b5a0 100%);
    opacity:0;
}
.numbox p:first-child {
    left: 0;
    top: 0;
}
.numbox p:nth-child(2)
{
    right:0;
    top:0;
}
.numbox p:nth-child(3)
{
    left:0;
    bottom:0;
}
.numbox p:nth-child(4)
{
    right:0;
    bottom:0
}
.numbox p:nth-child(5)
{
    width:48px;
    height:48px;
    border-radius:24px;
    line-height:48px;
    transform:scale(0,0);
    opacity:1;
    font-size:30px;
    color:#ff6910;
    font-weight:bold;
    box-shadow:0px 1px 5px #ddd;
    text-shadow:1px 1px 0px #fff
}
.numbox p:nth-child(1).animate {
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 3.7s;/*完成动画需要的时间*/;
    -webkit-animation-delay: 0;/*在动画开始之前的延迟*/;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade1;
    animation-duration: 3.7s;/*完成动画需要的时间*/;
    animation-delay: 0;/*在动画开始之前的延迟*/;
    animation-fill-mode: forwards;

}

.numbox p:nth-child(2).animate {
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 3.5s;/*完成动画需要的时间*/;
    -webkit-animation-delay: .5s;/*在动画开始之前的延迟*/;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade2;
    animation-duration: 3.5s;/*完成动画需要的时间*/;
    animation-delay: .5s;/*在动画开始之前的延迟*/;
    animation-fill-mode: forwards;

}
.numbox p:nth-child(3).animate {
    -webkit-animation-name: fade3;
    -webkit-animation-duration: 2.8s;/*完成动画需要的时间*/;
    -webkit-animation-delay: 1s;/*在动画开始之前的延迟*/;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade3;
    animation-duration: 2.8s;/*完成动画需要的时间*/;
    animation-delay: 1s;/*在动画开始之前的延迟*/;
    animation-fill-mode: forwards;

}
.numbox p:nth-child(4).animate {
    -webkit-animation-name: fade4;
    -webkit-animation-duration: 1.6s;/*完成动画需要的时间*/;
    -webkit-animation-delay:1.5s;/*在动画开始之前的延迟*/;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade4;
    animation-duration: 1.6s;/*完成动画需要的时间*/;
    animation-delay:1.5s;/*在动画开始之前的延迟*/;
    animation-fill-mode: forwards;

}
.numbox p:nth-child(5).animate {
    -webkit-animation-name: fade5;
    -webkit-animation-duration: .8s;/*完成动画需要的时间*/;
    -webkit-animation-delay:2.5s;/*在动画开始之前的延迟*/;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade5;
    animation-duration: .8s;/*完成动画需要的时间*/;
    animation-delay:2.5s;/*在动画开始之前的延迟*/;
    animation-fill-mode: forwards;

}

@-webkit-keyframes fade1
{
    0% {
        opacity:0;
    }
    60% {
        opacity:1;
        left:0;
        top:0;
    }
    100% {
        opacity:1;
        left:20px;
        top:20px;
    }
}
@-webkit-keyframes fade2
{
    0% {
        opacity:0;
    }
    45% {
        opacity:1;
        right:0;
        top:0;
    }
    100% {
        opacity:1;
        right:20px;
        top:20px;
    }
}
@-webkit-keyframes fade3
{
    0% {
        opacity:0;
    }
    40% {
        opacity:1;
        left:0;
        bottom:0;
    }
    100% {
        opacity:1;
        left:20px;
        bottom:20px;
    }
}
@-webkit-keyframes fade4
{
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
        right:0;
        bottom:0;
    }
    100% {
        opacity:1;
        right:20px;
        bottom:20px;
    }
}
@-webkit-keyframes fade5
{
    0% {

    }
    100% {
        opacity:1;
        transform:scale(1,1);
    }
}

@keyframes fade1
{
    0% {
        opacity:0;
    }
    60% {
        opacity:1;
        left:0;
        top:0;
    }
    100% {
        opacity:1;
        left:20px;
        top:20px;
    }
}
@keyframes fade2
{
    0% {
        opacity:0;
    }
    45% {
        opacity:1;
        right:0;
        top:0;
    }
    100% {
        opacity:1;
        right:20px;
        top:20px;
    }
}
@keyframes fade3
{
    0% {
        opacity:0;
    }
    40% {
        opacity:1;
        left:0;
        bottom:0;
    }
    100% {
        opacity:1;
        left:20px;
        bottom:20px;
    }
}
@keyframes fade4
{
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
        right:0;
        bottom:0;
    }
    100% {
        opacity:1;
        right:20px;
        bottom:20px;
    }
}
@keyframes fade5
{
    0% {

    }
    100% {
        opacity:1;
        transform:scale(1,1);
    }
}

.goplay {
    width: 180px;
    height: 40px;
    border-radius:5px;
    border: 0;
    background-color: #cba18e;
    color: #000;
    text-align: center;
    line-height: 40px;
    font-size:18px;
    position:fixed;
    right:100px;
    top:20px;
    z-index:999999
}
.goplay:active
{
    background-color:#9e6e59
}
ul.kaijiangbal
{
    display:table
}
ul.kaijiangbal li
{
    display:table-cell;
    width:54px;
    text-align:center
}