/* AdminCtrl - Modify Form */
.form-label { font-weight: bold; }

.group-height-sm, .group-height-md, .group-height-lg, .header-sm, .header-md, .header-lg {
    vertical-align: middle;
}

.header-sm { height: 30px; }
.header-md { height: 40px; }
.header-lg { height: 50px;}

.form-groupers {
    padding-top: 20px;
    padding-bottom: 20px;
}

.group-addon-label {
    font-weight: bold;
    width: 30%;
    text-align: right;
}
.group-label { width: 30%; text-align: right; }

.group-input { padding-left: 10px; }

.text-black { color: #000; }
.text-white { color: #fff; }


/* ReportCtrl - Statistics Page */
.accordion-lists { padding-left: 0px; }
.accordion-lists, .accordion-lists li { list-style: none; padding-top: 5px; }
.accordion-lists li { color: #000; }
.accordion-lists li a {
    color: #fff; 
    font-size: 11pt;
    line-height: 28px;
    text-align: left;
}
.accordion-lists li a:hover { text-decoration: none; }
.accordion-lists li table a { color: cadetblue; }frank

.mouse-none { cursor: not-allowed; }

.accordion-li-lists { padding: 10px 10px 10px 10px; min-height: 160px; }

.node-icon { float: left; padding-top: 0px; padding-right: 20px; padding-left: 10px; }

.node-header { min-width: 15%; }

.no-toggle {
    background: #3ecdf1;
    padding: 5px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    color: #fff;
}

.ng-show, .ng-hide {
    opacity: 0;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.inner { 
    opacity 1;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}





