.language-switching {
    float: right;
    margin-right: 100px;
    margin-top: -110px;
}
.dbName-area {
    position: absolute;
    width: 100px;
    height: 45px;
    line-height: 45px;
    font-size: 22px;
    color: #ffffff;
    left: 225px;
    /*background: red;*/
}
.sidebar-index {
    width: 220px;
    height: 40px;
    line-height: 40px;
    z-index: 100;
}

.select-db {
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.glyphicon-credit-card{
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    margin-top: -3px;
}
.unfreeze-btn{
    display: inline-block;
}
.border_cont{
    border: 1px solid #ccc;
    padding: 15px;
}
.border_cont > h4{
    
}
.toggle{
    background: #bc5679;
    padding: 5px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    color: #fff;
}
.toggle:hover{
    color: #fff
}
/* hide/show by default
ul .inner{
    display: none;
}
*/
ul .inner.show{
    display: block;
}

